[2014-07-14 17:16] LoveAndHappiness opened #1 "Error when using it with Github"
When pulling my branch from github to my local environment and then doing "composer install" I get the following error message.

Please be kind and help me debug it.
What Files do you need?

Generating autoload files
{"error":{"type":"Symfony\Component\Debug\Exception\FatalErrorException","message":"Class 'SimpleSoftwareIO\QrCode\QrCodeServiceProvider' not found","file":"D:\wamp\www\test\project\v

[2014-07-18 01:59] #1 closed, assigned to SimplyCorey

[2014-08-16 07:36] chrisrollins65 opened #2 "Margin not working correctly"
If I use margin(0), it gives me the same thing as margin(1) and margin(2). Then if I do margin(3) it gives me the same thing all the way up to margin(10).

Anyway, margin(0) is good enough for me but I thought I'd point this out. Thanks for the good work!

[2014-09-04 00:03] #2 closed, assigned to SimplyCorey

[2014-09-21 22:37] johnitvn opened #3 "[Bug] I can't create QRCode for vcard or mecard"
This is 2 way is used
1. MECARD folowing guide in project's page

2. VCard

both 2 way throw error

[2014-09-26 19:25] #3 closed, assigned to SimplyCorey

[2014-11-03 18:54] abstractFlo opened #4 "[L5] Generating really slow"
Hi,
i am using your awesome package, but i have a problem with the generate and save.

I create 1 QrCode in 2 Formats (svg and png) the file size from png = 4kb, the size from svg = 40kb.

All good. But at this generation time is really slow (12 seconds). I think 2 small pictures can not generate so long.

Sorry for my english, i am german ;)

[2014-11-03 18:56] #4 closed, assigned to nobody

[2014-11-12 20:35] itorgov opened #5 "Not correct QR Code"
Hello! I tried generate QR Code using your library. That is my code:

[code]

But I got incorrect QR Code, I attach them.
![Generated QR](https://cloud.githubusercontent.com/assets/1703419/5018109/997b86c2-6ac4-11e4-8d42-e7934af057b2.png)
Sorry for my bad English :-)

[2014-11-14 17:21] #5 closed, assigned to SimplyCorey

[2015-01-05 00:11] ctf0 commented on #2
@SimplyCorey could u also post the formula or how the margin gets calculated ?

[2015-01-05 01:20] SimplyCorey commented on #2
@ctf0 If you look at a QrCode, it is made up of a bunch of black and white squares with a constant about of squares per row depending on the version.  For example, version 1 has 21x21, version 2 has 25x25.  See: http://en.wikipedia.org/wiki/QR_code#Storage

The QrCode generator will change the size of the squares to ensure that the output is equal to the size provided.  If you want a QrCode that i

[2015-01-05 01:50] ctf0 commented on #2
yeah it makes a perfect sense ,so basically u make any size and the gen will add a 1,2,3,etc.. row from each side to make a perfect square and without getting pixelated when outputing as png.

[2015-01-20 04:12] phoenixg opened #6 "Can this be used in wechat(weixin) that I can scan and redirect to the URL?"

[2015-01-20 15:26] SimplyCorey commented on #6
我很抱歉，我不会说中国话。你可以用英文写你的问题？

Sorry, I do not speak Chinese.  Can you write your question in English?

[2015-01-21 22:29] SimplyCorey commented on #6
What do you mean can it be used in WeChat? You could generate the QrCode outside of Laravel using

    $qrcode = new \SimpleSoftwareIO\QrCode\BaconQrCodeGenerator();
    $qrcode->generate('Make a qrcode');

This would work within any PHP app which could then be scanned by any QrCode scanner.

Does that help?

[2015-01-21 22:54] SimplyCorey commented on #6
So after a quick read, it appears that a WeChat QrCode is just a URL.  So if you know the parameters of the URL, you should simply be able to pass them in and it will generate a QrCode.

[2015-01-22 07:43] phoenixg commented on #6
I will let you know in several days, Thanks.

[2015-01-23 01:34] #6 closed

[2015-02-05 19:19] kaaboeld opened #7 "laravel 5 Call to undefined method SimpleSoftwareIO\QrCode\BaconQrCodeGenerator::handle()"
Follow all the steps in app.php

In my Controller added (without instructions) in __construct():
$this->middleware('qrcode');

in my view:
[code]

and i have error in log:

[2015-02-05 22:27] SimplyCorey commented on #7
We will be updating this package in the next few days to work with Laravel 5.

[2015-02-06 03:07] phoenixg commented on #6
It works in Wechat, thank you!

[2015-02-06 03:14] SimplyCorey commented on #6
Awesome :smile:

Care to share what you built?

[2015-02-06 03:44] kaaboeld commented on #7
Thanks, I'll wait

[2015-02-06 07:17] phoenixg commented on #6
Actually I just use the default sample code then works.:)

[2015-02-09 11:21] abstractFlo opened #8 "Logo on QR-Code"
Is there a way to implement a logo to the qrcode? I need this for my compay website :(

Kind regards

[2015-02-09 13:02] SimplyCorey commented on #8
Currently, no but it is on our roadmap and I expect it to be out in 1-2 weeks after the Laravel 5 update.

If you need it sooner than that, I would suggest saving the qr code as a PNG and then adding the image on top of it.  Ensure you have high error correction so that the qr code is still able to scan.

[2015-02-24 05:34] salttechno opened #9 "How to use helper?"
Hello, I'm not able to use
QrCode::email('foo@bar.com', 'This is the subject.', 'This is the message body.');

It throws following error :
Call to undefined method SimpleSoftwareIO\QrCode\BaconQrCodeGenerator::email()

[2015-02-25 01:08] dragonfire1119 commented on #7
Have you gotten time to update this package yet for Laravel 5?

[2015-02-26 00:45] SimplyCorey commented on #7
Yes.  Ill push the release tomorrow.  Been away from home for a few days, sorry.

[2015-02-26 00:46] SimplyCorey commented on #9
This hasn't been released yet.  You are reading the docs for the Dev version.  I will release it tomorrow and it should work correctly.

[2015-02-27 03:42] salttechno commented on #9
Great! Thanks for quick response.

Regards,
Nilesh G

On Thu, Feb 26, 2015 at 6:16 AM, Corey McCormick <notifications@github.com>
wrote:

[2015-02-28 18:13] SimplyCorey commented on #9
This has been released in 1.2 as of today.  Enjoy!

[2015-02-28 18:13] #9 closed

[2015-02-28 18:15] SimplyCorey commented on #7
@kaaboeld This has been released as of today.  Very sorry for the long wait!  Life has been very busy lately.

You should not have to use $this->middleware('qrcode') to use this package.  Just place QrCode::generate('QrCode'); within a view or route and it will work. :smile: Enjoy!

[2015-02-28 18:15] #7 closed

[2015-04-27 06:56] anil1712 commented on #8
Hi, when you will add this feature? I am also waiting for this.

[2015-04-27 22:37] SimplyCorey commented on #8
I will try to get this released this week.

I have been busy working on other projects, I apologize for the long delay.

[2015-05-21 22:12] huglester opened #11 "XML tag outputed?"
Hello,

when I echo the SVG qrcode, I also see this:
&lt;?xml version="1.0" encoding="UTF-8"?&gt;

right before the qrcode is printed.

What could that be?

Thanks!

[2015-05-24 20:45] Zianwar opened #12 "PNG outputs weird characters"
I have this :
[code]
and when I visit the route ``` /test ```, I get a weird characters, something like :

[code]

Shouldn't I get a PNG image ? or how do get a ```<img ...>``` tag ?

[2015-05-25 05:48] huglester opened #13 "QRCode geo - no mark?"
Hello

I am able to generate PNG GEO qrcode. But when maps are opened, there are no marker on the map.. it is just centered at that location.. is it normal behaviuor? Or maybe I can add marker somehow?

Thanks!

[2015-05-27 19:48] kplese commented on #12
Well, you should have something like this in order to download the image:
header('Content-Description: File Transfer');
		header("Content-type: application/octet-stream");
		header("Content-disposition: attachment; filename=printed_marketing.png");
		exit(QrCode::size(100)->margin(1)->format('png')->generate("My QR code content"));

[2015-05-27 20:10] Zianwar commented on #12
Thank you !

[2015-05-27 20:10] #12 closed

[2015-06-01 21:38] SimplyCorey commented on #13
This really depends on what app you are using to open the QrCode.  Most apps just center the location.

[2015-06-01 21:38] SimplyCorey commented on #11
Can you show me a screen shot?  The SVG uses XML to output and should not be showing up.

[2015-06-01 21:41] SimplyCorey commented on #13
You could read the Google Maps API and generate a link that would open a map that would have a pointer on it.  I think this is the only way to get the results on all apps.

https://developers.google.com/maps/

[2015-06-01 21:41] #13 closed

[2015-06-23 23:53] SimplyCorey commented on #8
After a long delay; I finished writing the code for this today.  I will release it this week once I finish up bug testing!
![sample](https://cloud.githubusercontent.com/assets/624784/8319843/90105424-19e1-11e5-9bfb-c09bbf4f6bd7.png)

[2015-06-23 23:58] SimplyCorey commented on #11
Closing this due to not hearing anything back.

[2015-06-23 23:58] #11 closed

[2015-06-25 02:01] SimplyCorey commented on #8
Released in 1.3.0

[2015-06-25 02:01] #8 closed

[2015-07-20 06:54] mangoim opened #15 "VCard not work!"
I used simple-qrcode1.3.0 in laravel 5,MeCard is cool,But VCard  not work.

when i use this code

[code]

Scan it ,can not read the info

[2015-07-20 08:49] mangoim commented on #15
I find the correct code

Like this

[code]

Finally Thanks your project :smile:

[2015-07-20 12:05] SimplyCorey commented on #15
@mangoim Your welcome.  I find the VCard format to be confusing.  Ill update the docs to reflect your example.

[2015-07-27 12:42] SimplyCorey commented on #15
Updated read me to point to examples of how to use a vcard.

[2015-07-27 12:42] #15 closed

[2015-08-26 22:53] rvu95 opened #16 "Call to undefined function BaconQrCode\Encoder\iconv()"
I'm using this command on my view
`{{QrCode::generate('Make me into a QrCode!')}}`
and then when I'm going to this page I'm getting this error:
`FatalErrorException in Encoder.php line 627: Call to undefined function BaconQrCode\Encoder\iconv()`

Any idea why?

[2015-08-26 23:30] SimplyCorey commented on #16
Do you have the iconv library installed?  Are you running on Linux, Windows, or Mac?

[2015-08-27 17:17] rvu95 commented on #16
I'm running Arch Linux

Linux rvu 4.1.6-1-ARCH #1 SMP PREEMPT Mon Aug 17 08:52:28 CEST 2015 x86_64 GNU/Linux

[2015-08-27 17:19] SimplyCorey commented on #16
Please try installing PHP with incov.

http://php.net/manual/en/iconv.installation.php

[2015-08-27 17:43] rvu95 commented on #16
Done. But I'm getting this instead.

https://gist.github.com/rvu95/93f89605f322eee89b42#file-gistfile1-txt

[2015-08-27 17:57] SimplyCorey commented on #16
This is due to Laravel escaping the output.  Use {!! {{QrCode::generate('Make me into a QrCode!') !!}

This only affects SVG format.

[2015-08-27 18:51] rvu95 commented on #16
Sorry, my bad, i forgot the correct format. It's solved, thanks :)

[2015-08-27 18:51] #16 closed

[2015-08-27 19:36] SimplyCorey commented on #16
You're welcome!

[2015-09-11 06:34] seligmannkevin opened #18 "Force download of generated QR Code?"
Is it possible not just to render the QR code but actually return a file download from it in Laravel 4.x?

[2015-09-11 08:20] seligmannkevin commented on #18
I solved it by saving it to a file and then using return Response::download($file);

[2015-09-11 08:20] #18 closed

[2015-09-12 06:15] mclxly opened #19 "One line code is not correct for Laravel 5.1.16 (LTS)"
Today I'm trying to use this great lib and encounter an error(500).

I changed following code and then it works nice.
{{ QrCode::size(100)->generate(Request::url()); }}
to:
{!! QrCode::size(200)->generate(Request::url()) !!}

Hope it helps.

[2015-09-14 13:18] SimplyCorey commented on #19
This depends on which Laravel version you are using.  Laravel 5 changed the syntax to escape output and therefore escapes the SVG output.

[2015-09-15 17:49] branall1 opened #20 "->size() breaks merge()"
It appears if I attempt to use size() either before or after the merge method in a chain - the image is not merged.

Example:
`<img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->merge('/public/tiny-green.png',.3)->size(190)->generate($url)) !!}">`

QR code generates properly - but without the merged image. (http://goo.gl/ImyLlm)

If you remove size - it generates the code li

[2015-09-17 17:45] SimplyCorey commented on #20
Thank you for reporting this bug.  Try running the size method before the merge method.  This is a bug we will fix in the next release!

[2015-09-17 21:47] branall1 commented on #20
That was pretty much the first thing I tried. I didn't want to bother anyone with a bug report without attempting to resolve it on my own. I tried size() at the beginning, right before merge, right after, etc. The only way merge would work was without size.

I was wanting to take a look and see if I can squash this one on my own and send you guys a pull - but time has not been on my side. I doubt

[2015-09-17 21:49] SimplyCorey commented on #20
Hmm.  I must have missed this when testing!  I'll try to get a bug fix out in the next few days.  Thanks again for the report!

[2015-09-18 00:40] SimplyCorey commented on #20
Fixed in 1.3.1 :wink:

[2015-09-18 00:40] #20 closed

[2015-09-26 11:26] mikt opened #21 "Sending QR code as email?"
Hi,

I'm trying to send the QR code as an email, but it simply doesn't display in the email client.
I have tried both gmail and yahoo.

To display the image I use
```<img src="data:image/png;base64, {{ base64_encode($qr) }} ">```

To send the email I use the following:
[code]

I'm using Laravel 5.1 to send the email:
http://laravel.com/docs/5.1/mail

Any idea on how to come around this?

[2015-09-26 13:36] SimplyCorey commented on #21
Can I see your emails.product_redeem template please?

[2015-09-26 13:48] mikt commented on #21
Sure, thank you:

[code]

[2015-09-26 14:35] SimplyCorey commented on #21
Change

    <img src="data:image/png;base64, {{ base64_encode($qr) }} ">

to

    <img src="{!!$message->embedData($qr, 'QrCode.png', 'image/png')!!}">

I just tested this and it works in gmail/inbox.  Please let me know if you have any other issues!

[2015-10-13 15:30] plcosta commented on #21
@SimplyCorey It works fine for me. Thanks!

[2015-10-23 01:40] Bantes opened #23 "How can i set a logo in the qrcode?"
like this qrcode

https://github.com/SimpleSoftwareIO/simple-qrcode/raw/master/docs/imgs/merged-qrcode.png?raw=true

thanks

[2015-10-26 00:09] SimplyCorey commented on #23
QrCode::format('png')->merge('path-to-image.png')->generate('QrCode Here');

[2015-10-26 03:02] Bantes commented on #23
thanks for your reply.

[2015-10-28 01:26] #23 closed

[2015-11-03 22:06] llioor opened #24 "Any way to add plain text on the QR code?"
Something like a number or a text on the bottom of the QR.
I saw some classes who use setLabel('text here') to the QR code generator..
Do we have it here as well?
Thanks.

[2015-11-05 19:00] SimplyThomas commented on #24
This isn't something that we're likely to support because this is really a styling request and it's out of the scope of this project. I recommend that you use basic HTML/CSS styling to achieve what you're talking about. A quick example to achieve what you're looking for:

HTML:
[code]
CSS:
[code]

Let me know if you have any issues implementing what you're looking for with HTML/CSS and I'll see wh

[2015-11-05 19:02] #24 closed

[2015-11-15 09:58] llioor commented on #24
Thank you very much Tom!!!! but the result I need is an image and not an HTML preview.
I did it with intervention by adding text to the image.
Thank you again!

[2015-11-28 17:52] yansen-tan opened #25 "S3 Support?"
Is it possible to upload the QRCode to Amazon S3 without saving to the webserver first?

[2015-11-28 21:27] SimplyCorey commented on #25
Currently it must be saved to the local server because it uses file_put_contents().  This may be something we abstract out in the future in favor of Laravel 5's FileSystem.

[2015-11-29 18:04] SimplyCorey commented on #21
Added to readme.

[2015-11-29 18:04] #21 closed

[2015-11-29 18:07] SimplyCorey commented on #19
Adjusted examples to Laravel 5 syntax.

[2015-11-29 18:07] #19 closed

[2015-12-08 16:06] vint2000 opened #26 "Attach QR code to Dompdf generated document"
Please Help,
I am just getting an error in the PDF : Image not readable or empty
{!!$message->embedData(QrCode::format('png')->generate('Embed me into an e-mail!'), 'QrCode.png', 'image/png')!!}
Thanks

[2015-12-15 22:52] gerciljunio opened #27 "Error generating qr code"
I have a problem while building the qr code, the error is "max (): Array must contain at least one element" I'm on a ubuntu server (laravel forge) with php 5.6.14 and laravel 5.1, is there any requirement besides the GD or something? thanks!

[2015-12-16 03:07] SimplyCorey commented on #27
Please provide the code you are using to generate a QrCode.  Thanks!

[2015-12-16 10:09] gerciljunio commented on #27
Sorry!

<img src="data:image/png;base64, {{ base64_encode(QrCode::encoding('UTF-8')->format('png')->margin(1)->size(220)->generate('0023|m123|project|menu')) }}">

[2015-12-16 10:10] gerciljunio commented on #27
Sorry!

[code]

[2015-12-17 01:09] SimplyCorey commented on #27
GD is the only requirement.  I ran the code that you provided and it generated the following:

![download](https://cloud.githubusercontent.com/assets/624784/11858569/cdf88430-a430-11e5-8cc6-9e7dedc08733.png)

I am not really sure what is causing your issue.  Can you provide the your routes/controller/view files for me to take a look at?

Thank you

[2015-12-19 03:56] SimplyCorey commented on #25
After some suggestions, this seems outside the scope of this package.  Closing issue.

[2015-12-19 03:56] #25 closed

[2016-01-06 15:38] yaofong commented on #27
Hi, I have this same error:

ErrorException in line 0:
max(): Array must contain at least one element

I'm running on ubuntu nginx+hhvm laravel 5.1

I can't figure out what's going wrong, can anyone advice?

[2016-01-06 15:40] yaofong opened #29 "ErrorException in line 0: max():"
Hi, I have this error when trying to generate qrcode:

ErrorException in line 0:
max(): Array must contain at least one element

I'm running on ubuntu nginx+hhvm laravel 5.1

I can't figure out what's going wrong, can anyone advice?

[2016-01-06 15:40] SimplyCorey commented on #27
@yaofong,  please provide the code you are using to create a qrcode.  Thanks!

[2016-01-06 15:41] #29 closed

[2016-01-06 15:43] yaofong commented on #27
I'm just using the code from example:
{!! QrCode::generate('Make me into a QrCode!'); !!}

It's running alright on my localhost's apache php5

but show error on hhvm nginx on my live server

[2016-01-06 15:52] SimplyCorey commented on #27
I'll have to boot up a hhvm server with nginx installed.  Can you try running the same code but using the size method and let me know if the error still occurs?

{!! QrCode::size(200)->generate('test'); !!}

[2016-01-06 15:57] yaofong commented on #27
It's showing the same error

[2016-01-06 16:36] SimplyCorey commented on #27
I'll see if I can reproduce this error.  I think it has something to do with hhvm.

[2016-01-09 00:19] SimplyCorey commented on #27
@yaofong I have identified the bug that is causing this issue.  It only occurs on HHVM and with version 1 QrCodes.  Longer QrCode will not have this issue.  A pull request has been pushed up stream to fix the bug.  Thank you for reporting

[2016-01-09 04:04] yaofong commented on #27
Thanks @SimplyCorey for the fix!

When can we get the new update?

[2016-01-09 05:16] SimplyThomas commented on #27
@yaofong, we are working with BaconQrCode on the issue and the update is on their end.

You can check out the pull request and follow the status of our requested fix at https://github.com/Bacon/BaconQrCode/pull/17

[2016-01-09 23:00] SimplyCorey commented on #27
@yaofong The bug fix was just merged.  Running composer update at this time should resolve the issue :wink:

[2016-01-09 23:00] #27 closed

[2016-01-15 17:46] canfiax opened #30 "Caching?"
GREAT library! Really good job.

What about caching? I guess you could easily cache the QR Codes sorely by its value?

[2016-01-20 00:12] SimplyCorey commented on #30
Hey there.  Thank you for your warm remarks.  There are many options that you could choose if you want to cache.  The easiest one would be just to save the input into the generate method and check if a qrcode has already been generated for this output.

[2016-01-20 00:40] #30 closed

[2016-01-20 13:20] canfiax commented on #30
Thanks, but what about natively supporting this in the package? I.e. using Laravels native cache system etc; so that you do not have to implement your own :)

[2016-01-20 17:48] SimplyCorey commented on #30
@canifax. Caching would be outside the scope of this library.  Sorry.  We like to keep our libraries focused in a single task.

[2016-02-09 08:51] vincent03460 opened #32 "Class 'SimpleSoftwareIO\QrCode\QrCodeServiceProvider::class' not found"
tried and followed every steps from here
https://github.com/SimpleSoftwareIO/simple-qrcode
but I still get this error

Using laravel 5.0...any idea? tried
-composer update
-composer self-update
-composer dump-autoload
-composer update -o

added this in composer.json,autoload there
[code]

but nothing work, please help me. Did I miss anything else?

[2016-02-09 13:41] SimplyCorey commented on #32
Are you seeing this error inside of the command prompt?

[2016-02-09 14:32] vincent03460 commented on #32
nope, in the webpage...removed the ::class...no more error, but this code QrCode stated undifined class in blade side.

`<div class="visible-print text-center">
    {!! QrCode::size(100)->generate(Request::url()); !!}
    <p>Scan me to return to the original page.</p>
{{$qr}}
</div>`

this in controller,and used it in blade,nth comes out.
`$qr = QrCode::size(200)->generate('http://laravelacademy.o

[2016-02-10 01:12] SimplyCorey commented on #32
Somethings like something is not configured correctly.  Can I see your `config/app.php` file and `composer.json` file please?

[2016-02-10 02:25] vincent03460 commented on #32
I think so. Sure, here are the setting config/app.php
`
	'providers' => [

		/*
		 * Laravel Framework Service Providers...
		 */
		'Illuminate\Foundation\Providers\ArtisanServiceProvider',
		'Illuminate\Auth\AuthServiceProvider',
		'Illuminate\Bus\BusServiceProvider',
		'Illuminate\Cache\CacheServiceProvider',
		'Illuminate\Foundation\Providers\ConsoleSupportServiceProvider',
		'Illuminate\Routin

[2016-02-10 02:29] vincent03460 commented on #32
I think so.  There you go. Thanks
[files.zip](https://github.com/SimpleSoftwareIO/simple-qrcode/files/124130/files.zip)

[2016-02-10 02:33] vincent03460 commented on #32
[files.zip](https://github.com/SimpleSoftwareIO/simple-qrcode/files/124135/files.zip)
I think so. There you go. Thanks

[2016-02-10 04:52] vincent03460 commented on #32
Tried over hundred of times...this works for me but not image file, unable to save/download
[code]

Tried up added a format inside it, but after added, the QRCode becomes alien text
`�PNG  IHDR!!؆U87IDATH��VA�0����d�C5�C���PSGB��!=��n�u7��0^�% ��%w_k�%����o~o��Q%��H@OUbH�WdN��!F�{�G�D6�����f%0�Ԣ8xν�iM�?�Cf�Ǉ؜���h�R���]�iM��Q�}���.K�/7��� p�䌁�xI?��U���g�"G��$ �����jz�*!Gwm

[2016-02-10 05:20] vincent03460 commented on #32
It works now. I removed everything and reupdated again. Thanks a lot!

[2016-02-10 05:20] #32 closed

[2016-02-10 13:38] SimplyCorey commented on #32
I was going to recommend that.  Glad everything worked out!  Let us know if you run into anymore issues.

[2016-02-28 07:50] mani95lisa opened #33 "why the png file is so small"
code:
[code]

![code](https://cloud.githubusercontent.com/assets/1968989/13378085/b702c7d6-de32-11e5-9750-40f6daccaefa.png)

when I remove `format('png')` and change file name is `code.svg`, works fine.

[2016-02-29 13:16] Hesesses commented on #26
How did you solve this?

[2016-02-29 16:17] SimplyCorey commented on #26
Does #21 help you?

[2016-02-29 16:20] SimplyCorey commented on #33
Hey there,

Format needs to be the first method called or it will overwrite all of the other set properties.

Try this

[code]

[See `format` method](https://github.com/SimpleSoftwareIO/simple-qrcode#format-change)

[2016-03-01 04:06] mani95lisa commented on #33
Thanks!

[2016-03-01 04:06] #33 closed

[2016-03-03 12:54] #26 closed

[2016-03-16 08:09] Liu-xu-dong opened #36 "Call to undefined function BaconQrCode\Renderer\Image\imagecreatetruecolor()"
I used to in other project used this plugin, but now I'm in a new project in this mistake.What is the meaning of this?

[2016-03-16 14:49] SimplyCorey commented on #36
Can you please provide the code that you used?  You shouldn't be getting this error.

[2016-03-17 01:10] Liu-xu-dong commented on #36
I'm sorry, I forgot to open the gd, now the problem solved.Thank you！

[2016-03-17 01:21] #36 closed

[2016-04-04 14:36] michaeltansy opened #37 "Sending qrcode through api"
Hi I have question regarding using this package. So i tried sending the qrcode xml data. how do I read the data in view page? I tried using <img src="{{data}}"> (i use angularjs) but the tag is not working as what i expected. Any help would be appreciated!!

[2016-04-06 01:18] SimplyCorey commented on #37
Are you trying to load a qrcode through an IMG tag?  I'm a little confused on what you are trying to accomplish.

[2016-04-07 18:52] rsantosmello opened #38 "[Feature Request] Background Transparency"
I'm using this package to show QR code on my page, but I need to make the background transparent.

How I can do it?

[code]

[2016-04-09 04:49] blusewang opened #39 "laravel 5.1LTS can't use"
wen I use `QrCode::generate('Make me into a QrCode!')`

got this:
`Call to undefined method SimpleSoftwareIO\QrCode\Facades\QrCode::generate()`

[2016-04-09 06:34] blusewang opened #40 "I'm Chinese Developer ,I can try translation this project document."
But First of all, I need a success trial ^_^

[2016-04-09 22:36] SimplyCorey commented on #40
It would be great if you could translate the document :)

[2016-04-09 22:37] SimplyCorey commented on #39
I just tested it on my machine it worked.  Can I see your `config.php` file please?  It sounds like something is incorrect in there.

[2016-04-09 22:37] SimplyCorey commented on #38
Currently, this is not supported.  There is a pull request open upstream that would allow this to happen.  I will check on its status and see if we can get this put into the next release.

[2016-04-09 22:38] #37 closed

[2016-04-11 02:12] blusewang commented on #39
`<?php

return [

    /*
    |--------------------------------------------------------------------------
    | Application Debug Mode
    |--------------------------------------------------------------------------
    |
    | When your application is in debug mode, detailed error messages with
    | stack traces will be shown on every error that occurs within your
    | application. If disabled, a

[2016-04-11 02:12] blusewang commented on #39
`php -m
[PHP Modules]
bcmath
bz2
calendar
Core
ctype
curl
date
dba
dom
exif
fileinfo
filter
ftp
gd
gettext
hash
iconv
imagick
intl
json
ldap
libxml
mbstring
mcrypt
mysqli
mysqlnd
odbc
openssl
pcntl
pcre
PDO
pdo_mysql
PDO_ODBC
pdo_pgsql
pdo_sqlite
Phar
posix
readline
redis
Reflection
session
shmop
SimpleXML
soap
sockets
SPL
sqlite3
standard
sysvmsg
sysvsem
sysvshm
tokenizer
wddx
xml
xmlreader
xmlrp

[2016-04-11 02:13] blusewang commented on #39
`php artisan
Laravel Framework version 5.1.24 (LTS)`

[2016-04-11 02:32] SimplyCorey commented on #39
@blusewang you are missing `'QrCode' => SimpleSoftwareIO\QrCode\Facades\QrCode::class` in your aliases array. :wink:

[2016-04-13 07:27] blusewang commented on #39
Got it!
It works!
thanks.

[2016-04-13 07:27] #39 closed

[2016-04-13 07:35] blusewang commented on #40
I will start translate you project README.md to Chinese, but How do I send result to you?

[2016-04-13 07:35] blusewang commented on #39
hi! could you receive my email repay?

I will start translate you project README.md to Chinese, but How do I send result to you?

[2016-04-13 08:07] #40 closed

[2016-04-13 08:52] blusewang commented on #40
I have translated 50%!

[2016-04-13 22:50] SimplyCorey commented on #40
Awesome, thank you!  Just open a pull request up when you are finished to `docs/zh/readme.md`

[2016-04-14 03:42] blusewang commented on #40
OK

[2016-05-23 22:20] llioor opened #42 "Max string length size"
Hello,
1. What is the maximum length size of a generated string?
2. Do we have relation between "string length" to "size()" function?
3. Do we have relation between "string length" to "errorCorrection('*******Change to Char******')"?

10xxxx, Lior :)

[2016-05-23 23:18] llioor commented on #42
is it "Alphanumeric 4,296" from WIKI https://en.wikipedia.org/wiki/QR_code#Error_correction

[2016-05-24 00:02] SimplyCorey commented on #42
This would depend on the settings you use when you generate the QrCode.  It is limited by the standard.  This would be version 40 with L error correction.  The encoding would greatly change the amount of characters that can be put within the QrCode.

The `size` method just sets the height/width of the QrCode in pixels.  It has nothing to do with the length of the encoded string.

[2016-05-24 00:02] #42 closed

[2016-05-24 07:48] llioor commented on #42
@SimplyCorey  Thank you very much for the answer... it is more clear right now!
Is there any way to validate if specific string (URL) is OK to be generated.
For example how can I know that:
http://www.google.com will be OK for error correction 'L'?

Thank you...

[2016-05-24 10:07] llioor commented on #42
I got an answer here:

https://github.com/Bacon/BaconQrCode/issues/21#issuecomment-221128421

Thank you very much for the help as well!!!

[2016-06-16 02:52] f0ntana opened #43 "Call to undefined function BaconQrCode\Encoder\iconv()"
i had try composer update,

when i use this i get the error
[code]

[2016-06-16 02:57] SimplyCorey commented on #43
You need to ensure you have iconv installed on your system.  Refer to #16 for further information.

Please be afraid to ask if you need anymore help.

[2016-06-16 03:00] f0ntana commented on #43
i have this installed

![screen shot 2016-06-15 at 22 57 41](https://cloud.githubusercontent.com/assets/6570783/16104183/f2d45c92-334c-11e6-9c7d-72bfdeb89e54.png)

[2016-06-16 03:02] SimplyCorey commented on #43
Please provide your php.ini and phpinfo(); file.

[2016-06-16 03:20] f0ntana commented on #43
[phpinfo().pdf](https://github.com/SimpleSoftwareIO/simple-qrcode/files/317617/phpinfo.pdf)
[php.txt](https://github.com/SimpleSoftwareIO/simple-qrcode/files/317620/php.txt)

[2016-06-17 00:18] SimplyCorey commented on #43
I am not familiar with Darwin Linux but iconv is not installed correctly for PHP.  `iconv` is a PHP function.

Try running `sudo apt-get install php7-iconv`

[2016-06-18 17:26] SimplyThomas commented on #43
@f0ntana it looks as though you're using OSX? As @SimplyCorey said, it looks like you might not have the most updated `iconv` installed. To get the correct version installed depends heavily on how you installed php7 on your system.

It looks like the most common way to install php7 is through MacPorts. If that's what you used, be sure to try to run the following on your system: `sudo port php70-ic

[2016-06-18 18:30] f0ntana commented on #43
i had an error :

```Error: Unrecognized action "port php70-iconv"```

[2016-06-19 02:40] f0ntana commented on #43
no resolve ;/

[2016-06-19 13:10] SimplyCorey commented on #43
Does this help?

http://superuser.com/questions/394219/compiling-php-on-os-x-iconv-works-only-if-forced-to-64-bit

[2016-06-20 20:56] f0ntana commented on #43
No, i don't know, i will reinstall all, and see whats happends, in my serve
works fine, linux.

Thanks for help.

2016-06-19 9:10 GMT-04:00 Corey McCormick <notifications@github.com>:

[2016-06-21 10:32] #43 closed

[2016-07-01 21:06] pituseligmann opened #44 "Getting Class 'SimpleSoftwareIO\QrCode\QrCodeServiceProvider' not found"
Hey there! I read through the previous issues but none helped me unfortunately. I just installed this on Laravel 5.1.

This is my **composer.json** file:

    "name": "laravel/laravel",
    "description": "The Laravel Framework.",
    "keywords": ["framework", "laravel"],
    "license": "MIT",
    "type": "project",
    "require": {
        "php": ">=5.5.9",
        "laravel/framework": "5.1.*",

[2016-07-01 23:15] SimplyCorey commented on #44
I just ran the code you provided and it worked fine.  What you need to do is remove the service provider from your app.php file and then run `composer update -o` to install the package.  Afterwards, add the QrCode service provider page into the app.php file and it should clear up.

[2016-07-03 01:48] #44 closed

[2016-07-29 05:04] vadag opened #46 "QrCode always returns small image regardless "size()" parameter"
I'm using QrCode from Laravel. And it always 29px * 29px not depenpding of what size I specify. It happens both for PNG and SVG

[2016-07-29 12:31] SimplyCorey commented on #46
Please provide the code you are using.

[2016-08-02 23:28] SimplyCorey commented on #46
Closing as no response.

[2016-08-02 23:28] #46 closed

[2016-08-08 10:01] BlueManLine commented on #11
That happening also to me.

I'm using mpdf to generate PDF document with the qrcode. Unfortunatelly as @huglester said the <?xml tag is shown in the PDF document :/

![image](https://cloud.githubusercontent.com/assets/3807650/17476231/37e19520-5d5f-11e6-95ca-2cc2a3412725.png)

I'm using Laravel 5.1 with the composer.json entries:
[code]

The example code is:
[code]

When I return the laravel view

[2016-08-08 16:45] SimplyThomas commented on #11
@BlueManLine  just checking -- are you also using SVG? Have you tried this with another format like PNG?

This might be an issue with how mpdf renders SVGs and would be outside the scope of our support.

[2016-08-08 17:12] bluemanos commented on #11
@SimplyThomas thank you for quick reply :+1:
Unfortunately on other places I do not use SVG, I just want to use it with the QrCode.
Finally I used the PNG format fetched by a local url, not the inline PNG image you are suggesting..

If I will have time (does any developer have time? :D) I will check the issue with other PDF generator library.

[2016-08-08 17:13] BlueManLine commented on #11
@SimplyThomas thank you for quick reply :+1:
Unfortunately on other places I do not use SVG, I just want to use it with the QrCode.
Finally I used the PNG format fetched by a local url, not the inline PNG image you are suggesting..

If I will have time (does any developer have time? :D) I will check the issue with other PDF generator library.

[2016-08-09 08:20] SimplyCorey commented on #11
@BlueManLine Does using the PNG URL resolve your issue?

Out of curiosity, what are you building?  It looks interesting.

[2016-08-09 08:33] BlueManLine commented on #11
@SimplyCorey yes, the png url resolve my issue. I can attach an extra _GET parameters to easily manipulate the size and margins, so generally I have the same possibilities as with inline qrcode (or even higher - when someday I'm going to change the qrcode library then the changes will affect just one place :))

About my project - I'm building a receipt (or actually docket) which is printing on a r

[2016-08-18 13:24] johanWP opened #47 "How to insert a line break?"
hi, I've been trying to insert a line break into the info I'm encoding in the QR but I haven't been able to.  I've tried many different things including adding a "\n" char with no results.  Any help?

[2016-08-21 11:03] ahmedmaazin opened #48 "SMS Body is not composing"
**`QrCode::SMS($phone_number, "Test Test");`**
By doing above it doesn't compose the SMS Body

**`private $prefix = 'sms';`** to this **`private $prefix = 'SMSTO:';`** I changed and it worked.

Am I doing it correct?

[2016-08-21 14:29] SimplyCorey commented on #48
Which driver are you using?

[2016-08-21 14:40] ahmedmaazin commented on #48
"require": {
    "simplesoftwareio/simple-qrcode": "~1"
}

On Laravel 5

On Sun, Aug 21, 2016, 19:59 Corey McCormick <notifications@github.com>
wrote:

--
[image: photo] Mazin Ahmed
Software Developer
+960 9944825 <+960%209944825> || +94 768939723 <+94%20768939723> ||
http://mazinahmed.xyz || Male', Maldives
<http://www.facebook.com/mmmaaazzziiinnn>
<http://www.linkedin.com/in/ahmedmaazin>  <http:

[2016-08-21 14:59] ahmedmaazin commented on #47
I achieved it using newline "\n"
Can you send more details?

[2016-08-21 18:46] SimplyCorey commented on #47
It is really going to depend on the QrCode reader and how it chooses to display the items.

[2016-08-21 18:49] SimplyCorey commented on #48
hmm..  This might be a bug. Sounds like the wrong prefix is being used for whatever reason.  Let me look at it and get a bug fix out if one is needed.

[2016-08-22 05:44] ahmedmaazin commented on #48
Actually not entirely a bug I think. Some parsers look for "**SMS:**" while others stick with "**SMSTO:**". So would be nice to find a way to use them both and switch **prefix**.

[2016-08-26 10:40] eleven0220 opened #49 "Could not encode content to ISO-8859-1"
Excuse me, how to solve this?

[2016-08-26 10:42] #49 closed

[2016-08-31 20:36] #47 closed

[2016-09-09 00:31] 4val0v opened #50 "QRcode - Bitcoin payment"
Please add QRcode Bitcoin

$addr - Bitcoin address (12A1MyfXbW6RhdRAZEqofac5jCQQjwEPBu)
$amount - 0.000377
$label - Test
$message - HelloWorld
$req - url request (https://bitpay.com/i/HztrqbJH3piKUskxkBfr8b)

**Example** - QrCode::BTC($addr, $amount, $label, $message, $req);

**out:**
bitcoin:12A1MyfXbW6RhdRAZEqofac5jCQQjwEPBu?amount=0.000377&message=HelloWorld&label=Test&r=https://bitpay.com/i/Hz

[2016-09-18 17:27] SimplyCorey commented on #50
Thanks, I'll add this to the next release.

[2016-09-18 17:27] SimplyCorey commented on #48
Yea.. I need to figure out how most clients process this.

[2016-10-09 20:16] SimplyCorey opened #51 "Spanish Translation"
Looking for a kind soul to translate our documents into Spanish.

Translate: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/en/README.md
Place new file here: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/es/README.md

We will place your name into our thank you section within the change log!

[2016-10-09 20:23] simocosimo commented on #51
I don't know Spanish sadly, but I can translate that in Italian if you want

[2016-10-09 20:30] SimplyCorey commented on #51
@simocosimo  I would love that.  Opening up some more language tickets now :)

[2016-10-09 20:30] SimplyCorey opened #52 "Italian Translation"
Looking for a kind soul to translate our documents into Italian.

Translate: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/en/README.md
Place new file here: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/it/README.md

We will place your name into our thank you section within the change log!

[2016-10-09 20:30] SimplyCorey commented on #51
See #52.  Thanks!

[2016-10-09 20:31] SimplyCorey opened #53 "Portuguese Translation"
Looking for a kind soul to translate our documents into Portuguese.

Translate: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/en/README.md
Place new file here: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/pt/README.md

We will place your name into our thank you section within the change log!

[2016-10-09 20:32] SimplyCorey opened #54 "French Translation"
Looking for a kind soul to translate our documents into French.

Translate: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/en/README.md
Place new file here: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/fr/README.md

We will place your name into our thank you section within the change log!

[2016-10-09 20:32] SimplyCorey opened #55 "Korean Translation"
Looking for a kind soul to translate our documents into Korean.

Translate: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/en/README.md
Place new file here: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/ko/README.md

We will place your name into our thank you section within the change log!

[2016-10-09 20:33] SimplyCorey opened #56 "Japanese Translation"
Looking for a kind soul to translate our documents into Japanese .

Translate: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/en/README.md
Place new file here: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/ja/README.md

We will place your name into our thank you section within the change log!

[2016-10-09 20:44] felipewmartins commented on #53
Hi @SimplyCorey , I can translate to PT-Br language?

[2016-10-09 20:48] SimplyCorey commented on #53
@felipewmartins That will work.  Please put it under https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/pt-br/README.md

Thank you very much!

[2016-10-09 20:52] felipewmartins commented on #53
Nice @SimplyCorey !. I will work on it!

[2016-10-09 21:07] simocosimo commented on #52
I can do this!
Starting right now! :)

[2016-10-09 21:13] SimplyCorey opened #57 "Hindi Translation"
Looking for a kind soul to translate our documents into Hindi.

Translate: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/en/README.md
Place new file here: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/hi/README.md

We will place your name into our thank you section within the change log!

[2016-10-10 02:21] SimplyCorey commented on #52
Fixed in #58.  @simocosimo Thanks!

[2016-10-10 02:21] #52 closed

[2016-10-10 04:02] himanshu81494 commented on #57
I would like to work on this. Please guide me where to start

[2016-10-10 08:26] gtarraga commented on #51
I can translate to spanish

[2016-10-10 12:01] SimplyCorey commented on #57
@himanshu81494 Hey there.  The current readme is in markdown which can be found here:  https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/docs/en/README.md

If you could make a new file called README.md under `docs/hi/README.md` and translate the original document; that would be awesome!  Let me know if you have any questions!

[2016-10-10 12:02] SimplyCorey commented on #51
@gtarraga Thanks for the pull request!  I'll merge it in later today

[2016-10-10 22:30] SimplyCorey commented on #51
@gtarraga Thanks again.  Pushing this out now.  Fixed in #61

[2016-10-10 22:30] #51 closed

[2016-10-11 16:11] allexandresampaio commented on #53
If you still need some help in portuguese, tell me!

[2016-10-11 20:48] SimplyCorey commented on #53
@allexandresampaio That would be awesome!  Let me know if you have any questions

[2016-10-12 21:03] SimplyCorey commented on #53
See #65

Thanks everyone for your help.

[2016-10-12 21:03] #53 closed

[2016-10-17 22:41] SimplyCorey commented on #48
I looked into this more and I do not believe it is a bug.  This works with my phone.  `sms:` is to make a blank SMS messages while `smsto: is to make a pre-filled out message.  `smsto` isn't as widely supported though and may be why yours did not work.

[2016-10-17 22:41] #48 closed

[2016-10-18 00:11] SimplyCorey commented on #54
Fixed in #67

[2016-10-18 00:11] #54 closed

[2016-10-20 13:26] 4val0v opened #68 "Excavate the logo (Remove Blocks Around)"
Currently logos overlaid on top QR code :(
Will support excavate the logo ?

To the output we get this: http://imgur.com/a/XL2iO

[2016-10-20 13:47] 4val0v opened #69 "[Feature Request] Fancy QrCodes"
Will patterns support ?
Example [img ](https://imgur.com/a/sRGkP)\- site [Scanova.io](https://app.scanova.io/)
Out qr - **[img](http://imgur.com/a/wh572)**

You can also look on the website: _https://www.unitag.io/qrcode_

[2016-10-23 19:22] SimplyCorey commented on #68
@4val0v Hey there.  I think there is a language barrier as I do not understand your request.  Can you word it differently please?

[2016-10-23 19:22] SimplyCorey commented on #69
@4val0v We have plans to bring in this feature.  Currently there is no time frame though.  If you get ambitious, feel free to make a pull request.

[2016-10-24 08:13] 4val0v commented on #68
At the moment, the picture is superimposed over QR code
Is it possible make the padding between the logo and the code?

http://imgur.com/a/bcQWp

[2016-10-25 13:05] SimplyCorey commented on #68
It is not currently possible.  I will try to get this added in the next release.

[2016-10-30 00:43] SimplyThomas commented on #68
@4val0v a workaround, for the moment, would be to add a margin to the image that is going to be added to the QrCode. So instead of your logo being cropped at the edge of the logo itself, it would have a transparent or white margin around it within the image file.

I don't see a benefit to adding this niche feature request in the code base when this workaround would solve the issue.

[2016-10-30 00:43] #68 closed

[2016-12-05 10:06] brizov43 opened #70 "[BUG] Generating qr codes in a loop leads to empty qr codes"
When using the QrCode facade in a foreach loop, the qr codes get saved to storage and appear empty. I've tested a custom loop with the BaconQr code, assigning the $renderer anew in every loop and it works. This means the QrCode should become a factory as to accomodate looping creation.
For example, this doesn't work:
`foreach ($iterator as $iter) {
  QrCode::generate('something'.$iter, '../path/so

[2016-12-06 01:36] #70 closed

[2016-12-06 01:42] SimplyCorey commented on #70
@brizov43 Fixed in 1.5.1

[2016-12-06 07:21] brizov43 commented on #70
Great job! Thanks.

[2016-12-19 20:41] kavierkoo opened #73 "QR code can't be scan after merged"
It seems to be the QR code was not able to be scan after merged with logo using code below:
` <img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->merge('\public\img\logo.png')->size(500)->generate('Test!')) !!} ">`

It works fine before merging it but it will not work after merge.

[2016-12-19 21:15] SimplyCorey commented on #73
What is your error level set to?

[2016-12-19 21:47] kavierkoo commented on #73
Oh.. I'm terribly sorry about the wrong issue, after i allocate it to High it works. Really sorry for any inconveniences caused.

[2016-12-19 21:47] #73 closed

[2016-12-19 23:56] SimplyCorey commented on #73
👍

[2016-12-21 02:49] kavierkoo opened #74 "QR code unable to scan"
The code to call
` <img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->merge('\public\img\logo.png')->errorCorrection('H')->size(500)->generate($qrcontent)) !!} ">`

Content in $qrcontent: `2016-12-21-DBDS-UC2F1501IT(ISS),UC2F1501IT(FC),UCD2F1309DIT-lecturer`

Sorry for disturbing again, I really have no idea how to fix it

[2016-12-21 03:02] SimplyCorey commented on #74
The scanabity really depends on the Qrcodes reader.  One thing you could try is to reduce the percentage of the logo placed on top of the Qrcodes by using the second parameter.

Merge(logo, 15)

[2016-12-21 03:08] SimplyCorey commented on #74
Also, if you want to provide me with the image you are using. I can see if something funny is going on.

[2016-12-21 03:27] kavierkoo commented on #74
[Default size](https://drive.google.com/open?id=0BySNOzogzCU5RmRXZnV3bGV0MFU)
[.15 Size](https://drive.google.com/open?id=0BySNOzogzCU5ODBzM1ctSkRFVFE)

[2017-01-23 13:54] SimplyCorey commented on #74
@kavierkoo Which scanner app are you using?

[2017-01-23 17:42] kavierkoo commented on #74
iPhone app named QR Reader, anyway I requirement changed and I manage to achieve what I wanted to by changing the content to read a generated ID from database instead, thanks for the assisting

[2017-01-23 17:43] #74 closed

[2017-03-17 13:17] HipeL opened #76 "Error creating QR code"
I can't get the QR code to work in the view. I always get this error : https://gyazo.com/fb006e022ec2a6907054edea4e4b1d02

Running on laravel 5.3.30

composer.json
[code]
config/app.php
[code]
...
[code]
calling it in blade like this
[code]
I'm not sure if i'm doing anything stupidly wrong or not...
Tryed tryed :
composer update -o
php artisan clear-compiled
deleted entire vendor folder and compos

[2017-03-17 14:33] HipeL commented on #76
Ended up pulling the project again, building it and the same implementation worked, sorry for bothering

[2017-03-17 14:33] #76 closed

[2017-03-23 18:15] vranvs opened #77 "imagecreatefromstring(): Data is not in a recognized format"
Try to use the merge function with your library to add a logo to the center of my QR code.

My file is in .png format.

my code:
`$qrcode = QrCode::size(400)->
  merge('\public\img\covalent_qr.png', 0.3)->
  errorCorrection('H')->
  generate('lol');
  return $qrcode;`

The error I'm getting (also in title):

Thanks

[2017-04-22 03:29] SimplyCorey commented on #77
You have to use the png format. Try this:

`$qrcode = QrCode::format('png')->size(400)-> merge('\public\img\covalent_qr.png', 0.3)-> errorCorrection('H')-> generate('lol'); return $qrcode;`

[2017-04-29 14:52] silasrm opened #79 "Problem to install on Laravel 5.4"
Hi,

I'm trying to install on 5.4 but composer says:

  Problem 1
    - The requested package simplesoftwareio/simple-qrcod could not be found in any version, there may be a typo in the package name.

Any solution?

[2017-05-01 12:57] SimplyCorey commented on #79
`simplesoftwareio/simple-qrcod` should be `simplesoftwareio/simple-qrcode`

[2017-05-01 12:57] #79 closed

[2017-05-01 13:04] silasrm commented on #79
Hi @SimplyCorey,

Sorry!

Thks

[2017-05-22 01:34] luanrodrigues commented on #77
same here. :/

[2017-05-22 17:01] SimplyCorey commented on #77
Did you use the png format?

[2017-05-22 17:09] luanrodrigues commented on #77
Yes, I did @SimplyCorey

[2017-05-22 18:06] luanrodrigues commented on #77
this is the erro i got: http://i.imgur.com/KY6NoZ6.png

[2017-05-23 00:12] SimplyCorey commented on #77
That's not an error.  Thats the PNG image.  You need to wrap it.

`<img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->size(100)->generate('Make me into an QrCode!')) !!} ">`

[2017-05-23 00:13] #77 closed

[2017-05-26 20:52] SimplyThomas commented on #56
Hacktoberfest has concluded. Cleaning up Issues.

[2017-05-26 20:52] #56 closed

[2017-05-26 20:53] SimplyThomas commented on #55
Hacktoberfest has concluded. Cleaning up Issues.

[2017-05-26 20:53] #55 closed

[2017-06-03 11:38] roladn opened #81 "Laravel integration"
Hello Friends, I have integrated your simple qr code generator ,  here is the PHP  laravel integration  for QR-CODE Login , My article How to integrate on your project : http://www.rolandalla.com/laravel-login-qr-code/  My github  full project: https://github.com/roladn/laravel-qr-code-login

[2017-06-03 11:38] #81 closed

[2017-07-08 14:05] jayaryan opened #84 "Call to undefined method BaconQrCode\Encoder\QrCode::generate()"
Got this when tried
QrCode::generate('Make me into a QrCode!', public_path('images') . '/qrcode.svg');
inside my controller.

I am using Laravel 5.3 and used  "simplesoftwareio/simple-qrcode": "^1.5"
also done the config/app.php part for provider and alias.

`FatalErrorException in CriteriasController.php line 128:
Call to undefined method BaconQrCode\Encoder\QrCode::generate()
in CriteriasControl

[2017-07-08 14:28] jayaryan commented on #84
Sorry owner,
after using use SimpleSoftwareIO\QrCode\Facades\QrCode; i got success.
previously I was using use BaconQrCode\Encoder\QrCode;

Please close this issue. :)

[2017-07-08 19:24] #84 closed

[2017-07-21 23:23] jfvoliveira opened #85 "QRCode margin and text case"
Hi there. I am having an issue with the size of the QRCode. Some codes are of the size I gave them with zero margin, others have a margin (making the code smaller).

Example:

[code]
The result is:

![Result](https://i.imgur.com/JArjzVW.png)

Why is there a margin in the codes that have lowercase? I've run a few tests and everytime a smallcase letter appears, the code gets a margin.
If I for insta

[2017-07-27 09:47] mauudev opened #86 "Class 'QrCode' not found"
Hi i'm having troubles installing the package, i got 'Class 'QrCode' not found' when i import it on my controller.
i'm with Laravel 5.2, my config/app.php

[code]
I tried cleaning vendor folder and compiled files then reinstalling but i still get that error ... why?
Please help me i really need this package for my aplication..

[2017-07-27 13:46] SimplyCorey commented on #86
What does your controller look like?

[2017-07-28 05:43] mauudev commented on #86
First i just import 'use QrCode;' on the top  and sending a url from my controller in a variable and I get that error, then i tried the basic example  on my view:
`{!! QrCode::size(100)->generate(Request::url()); !!}`
And i got the same error.. what's wrong?

[2017-07-28 08:52] jfvoliveira commented on #86
Remove the 'use QrCode;' from the controler.

[2017-07-28 12:14] SimplyCorey commented on #86
^What he said.

[2017-07-28 12:14] #86 closed

[2017-07-28 12:15] SimplyCorey commented on #85
That's strange.  I'll take a look at it and see if there is a bug with the margin method.

[2017-07-28 12:17] SimplyCorey commented on #86
Or add 'use SimpleSoftwareIO\QrCode\Facades\QrCode; '. If you wish to call it from your controller.

[2017-08-08 10:31] UOCecalero opened #87 "Email helper not working on laravel 5.4.32"
It generates a white qrcode. All values are 0.

QrCode::email('foo@email.com');

[2017-08-08 11:13] UOCecalero commented on #87
The issue is with tinker. It is solved restarting Tinker each time you call QrCode.

Sorry for the inconvenience.
Greetings

[2017-08-08 11:13] #87 closed

[2017-08-08 11:26] UOCecalero opened #88 "[Feature Request] URL helper"
If you scan an url from a device it shows the URL instead of opening directly the URL on your default browser.

Greetings

[2017-08-08 12:07] #88 closed

[2017-08-08 12:08] UOCecalero commented on #88
It works properly

[2017-08-11 18:50] jfvoliveira commented on #85
Any news on this subject?

[2017-08-25 11:11] wardemi commented on #86
Hi,

I have same problame. I use Laravel 5.4v and I don't call use QrCode from the Controller.

composer.json:
    "require": {
        "php": ">=5.6.4",
        "barryvdh/laravel-ide-helper": "^2.4",
        "components/font-awesome": "^4.7",
        "davejamesmiller/laravel-breadcrumbs": "^3.0",
        "doctrine/dbal": "^2.5",
        "filp/whoops": "^2.1",
        "intervention/image": "^2.4",

[2017-08-28 12:38] SimplyCorey commented on #86
Are you able to call it from a controller and verify that it is installed correctly?

[2017-08-29 09:22] wardemi commented on #86
Well if I instace of BaconQrCodeGenerator class yes but QrCode Faced don't see generate method and singletaon instace

![image](https://user-images.githubusercontent.com/9640333/29813936-dd5eb858-8cab-11e7-9f59-d6e2c85d9e3d.png)

[2017-09-09 21:44] RahmanG opened #89 "Class 'QrCode' not found"
Hi,

i try to use the QrCode::generate('Make me into a QrCode!'); command directly in a view.
but i get the error message Class 'QrCode' not found.

https://imgur.com/a/sbDaq

i use laravel 5.4

my app.php

`<?php
return [
    /*
    |--------------------------------------------------------------------------
    | Application Name
    |--------------------------------------------------------------

[2017-09-16 13:07] htonkovac opened #90 "Why does the bitcoin qr code have a fat white border around it ?"
Please tell me how to make this fat ugly border smaller, thank you

[2017-09-16 15:35] SimplyCorey commented on #90
What does your code look like.

[2017-09-16 15:45] htonkovac commented on #90
{!!QrCode::size(250)->BTC('$public_key', $btc->price)!!}

The svg generated has the QR code, but also a fat white border.

Also is there a way to increase the level of error correction?

[2017-09-16 15:46] htonkovac commented on #90
It is 36 "rectangles" wide

[2017-09-17 04:11] SimplyCorey commented on #90
It's all in the docs.  Change margin and errorCorrection to what you desire.

[2017-09-17 04:11] #90 closed

[2017-09-17 04:15] SimplyCorey commented on #89
See: https://github.com/SimpleSoftwareIO/simple-qrcode/issues/86

[2017-09-17 04:15] #89 closed

[2017-09-17 04:17] SimplyCorey commented on #85
I have not had time to look into it.  Feel free to open a PR if you are able to solve the issue.

[2017-09-19 17:26] librallaw commented on #36
I get the same error, please what do I do, I have installed php gd on my conputer

[2017-09-19 21:20] SimplyCorey commented on #36
@librallaw What does your phpinfo() look like?

[2017-10-19 06:10] chonchol commented on #85
I have generated 5k qrcode show it with dynamically below way. But if i open qrcodes page it takes huge time to open it. Because all qrcode make that time. How can i do that? Will i save qrcode into database then retrieve it? How can i save qrcode into databse?
`<img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->size(100)->generate($redirectedPage.$qrcode->id)) !!} ">`

[2017-10-19 12:20] SimplyCorey commented on #85
@chonchol You can provide a second argument to the generate to save the file.  `generate('redirect code, 'filename'); You can just then serve these as normal files.

[2017-10-20 11:48] chonchol opened #91 "How i save QR code into database and retrieve it?"
There is no step by step documentation how i save qr code into database and retrieve it. I have tried below way:

Controller for store QR code into database:

    public function store(Request $request)
    {
        //
        ini_set('max_execution_time', 180);
        $limit = $request->get('qrcode_quantity');
        for ($i=1; $i <= $limit ; $i++) {
            # code...
            $qrcode =

[2017-10-20 23:02] SimplyCorey commented on #91
This isn't really anything to do with the library, but is your own implementation details.  As stated in #85, you can pre-create the files and save them using the second argument in the generate method to save them to a file.  From there, you can do what you want with them.  You can put them in S3, save them as binary data in a database, its up to you.  Although, I don't really recommend saving im

[2017-10-20 23:02] #91 closed

[2017-10-21 12:46] chonchol commented on #91
How i insert image path into database? `../public/qrcodes/yourfilename.svg` i want to save when creating any qrcodes. Please tell me how i save the image path into database.

[2017-10-21 14:49] SimplyCorey commented on #91
I suggest you read up on SQL and Laravel Eloquent if you are struggling with this.

[2017-11-15 13:38] rithikstan opened #92 "After image merge qr not working"
after image merge, qr not working and image merge example qr also not working on this url https://www.simplesoftware.io/docs/simple-qrcode

[2017-11-16 01:38] SimplyCorey commented on #92
I don't understand your request.  What is not working?

[2017-11-16 06:42] rithikstan commented on #92
qr not working after merge image into qr

[2017-11-17 11:41] rithikstan commented on #92
sir explain me the issue asap.

[2017-11-17 14:37] K-Leon opened #93 "Image Merge isn't reset properly on current Master"
First of a real great Project!!! Thank you so much for your hard work.

I just found a small glitch. This one results in an image in both barcodes even though it's only expected to be in the first one:
[code]

I'm not really sure how to fix it appropriate. I hacked a reset for now in the generate function, but this isn't really a good place ;)

[2017-11-17 22:43] SimplyCorey commented on #92
You need to bump the error correction to high.  Some Qr readers cant read the qrcode with an image.

[2017-11-17 22:43] #92 closed

[2017-11-21 16:05] SimplyCorey commented on #93
I think I know what the problem is.  I'll have a patch out this Friday.  Thanks for the report

[2017-11-26 14:22] SimplyCorey commented on #85
There is a release coming from upstream that should address his shortly.

[2017-11-26 14:38] SimplyCorey commented on #93
Fixed in 1.6.0

[2017-11-26 14:38] #93 closed

[2017-11-30 14:15] stevevg commented on #85
I'm experiencing the same issue as @jfvoliveira, but no time to look into it and try to solve it.

Was this referred to the original issue or to the one opened by @chonchol? Because I've just tried with v2.0.0 and the issue is still here.

[2017-11-30 14:24] SimplyCorey commented on #85
I am waiting on a PR up stream from a different project.

[2017-12-08 14:13] jazeb786 commented on #26
I cant send QR code in gmail or yahoo plz guide me
this is my controller
foreach ($tickets as $key => $ticket) {
            $ticket['sold'] = $ticketQuantities[$key];
            $ticket['total_paid'] = $ticket->price * $ticketQuantities[$key];
            $ticket->save();
            $ticket->users()->attach($user);
        }
        $user  = User::findOrFail(Auth::user()->id);
        $qrCode=Q

[2017-12-08 15:20] SimplyCorey commented on #26
You will likely need to save the QrCode locally and attack it the email using this https://laravel.com/docs/5.5/mail#inline-attachments

[2018-01-03 02:51] AaronWB opened #97 "laravel 5.5 support"
**Hi, when simple-qrcode would support Laravel 5.5**

[2018-01-03 14:41] SimplyCorey commented on #97
It should currently work under 5.5.  Are you experiencing any issues?

[2018-01-05 03:48] #97 closed

[2018-01-26 14:06] hamzstramgram opened #98 "Pass encoding as a parameter"
By default the encoding is set to ISO-8859-1 in the Bacon library.

So when trying to generate a QR code with muti-bytes characters (like chinese name when generating a vCard) I get an error "Could not encode content to ISO-8859-1". Apparently it is possible to pass the encoding as third parameter to the writeFile() method in BaconQrCode.

Is it possible to add this as a parameter or settings some

[2018-02-08 08:31] emilas44 commented on #85
I also have a problem with margin... I made a small app with laravel that generates QrCodes from a .csv file.
There is a loop that goes through each row and all generated images have proper margin except one.
And what is most interesting, when I take that row from .csv and make a new .csv file it works fine. It makes the margin as I set it to.

I tried also playing with encoding and then it happen

[2018-02-15 12:03] emilas44 commented on #85
OK so I finally figured out why the margins are sometimes not applied... It's because of the amount of data that is crambled inside the string that needs to be generated. If there is too much text then the margins somehow don't get applied. So much from me!

[2018-02-16 08:10] emilas44 commented on #98
Yes you can change the encoding, for example:

`        $qrCode = QrCode::format($qrImg)
            ->encoding('UTF-8')
            ->margin(10)
            ->size(630)
            ->generate($vcard, public_path("/qr/" . $folderName ."/". $fileName . ".". $qrImg))`

[2018-03-01 15:26] goszowski opened #99 "I have the white square"
<img width="369" alt="qr-code-error" src="https://user-images.githubusercontent.com/10208931/36852812-6fbb8b4a-1d75-11e8-9ba8-81890b937509.png">
<img width="336" alt="qr-code-error-2" src="https://user-images.githubusercontent.com/10208931/36852823-76acc400-1d75-11e8-886a-cfe12ace4980.png">
<img width="574" alt="qr-code-error-3" src="https://user-images.githubusercontent.com/10208931/36852880-9bf2

[2018-03-22 09:16] vaggelis2018 commented on #92
@SimplyCorey I have the same issue. Qr works without the image but it losts data after image placement. If i decrease the image size, some data are shown but to make them all visible i have to make the image too small.

[2018-03-22 11:15] SimplyCorey commented on #92
@vaggelis2018 That's the way this works.  The image placement relies on there being enough error correction for the reader to be able to pick up on the original code.  I suggest making the error correction large,  and having the image take up no more than 20-30% of the qrcode.  You will likely need to make the qrcode larger in order to have a large enough image.

[2018-03-22 11:16] SimplyCorey commented on #99
Does this only occur with the svg?  Have you tried png?

[2018-03-22 11:16] #98 closed

[2018-03-22 11:16] SimplyCorey commented on #98
This can already be done using @emilas44 method

[2018-03-22 11:18] goszowski commented on #99
png works good

[2018-03-22 11:35] vaggelis2018 commented on #92
Thanks for the quick response. I see it now and make it work. Thanks again.

[2018-04-30 15:09] DASPRiD commented on #85
As commented on the upstream issue, this should be fixed in version 2.0.0 of BaconQrCode.

[2018-04-30 15:12] DASPRiD commented on #69
This is now a supported feature in the upstream QR code renderer.

[2018-04-30 16:59] SimplyCorey commented on #85
@DASPRiD Thanks, I plan on upgrading this week!

[2018-05-03 18:33] pietrobp commented on #85
can u remove the border from qrcode? i put margin(0) but it continues with some white border/padding

[2018-05-16 02:32] yc8332 opened #100 "illuminate/support require is inaccurate in all version behind 2.0"
the composer.json write:  "illuminate/support": ">=4.2.0", so it get the  latest version. the  latest version need php7+

[2018-05-24 08:14] Moln opened #101 "`composer.json` move `illuminate/support` to suggest ?"
It's working other DI library. I think it's no need require `illuminate/support`.  And move to suggest.

[2018-05-30 01:33] robertnicjoo opened #102 "file_get_contents"
I cannot get my logo on qr code this is the error i get:

[code]

this is my code:

[code]

I also tried this:

[code]

and I got:

[code]

any idea?

[2018-05-30 17:51] SimplyCorey commented on #102
That domain doesnt appear to be working:

[code]

Can your server reach it?

[2018-05-30 23:00] robertnicjoo commented on #102
Obviously that is dummy domain not real one, + I'm working on local not live site.

[2018-06-01 06:01] darshithedpara opened #103 "Not able to install version 2 in Laravel 5.6"
Installation failed, reverting ./composer.json to its original content.
  [Composer\Downloader\TransportException]
  The "https://packagist.org/packages.json" file could not be downloaded: failed to open stream: Connection timed out

[2018-06-04 01:56] techn0guy commented on #102
I would love to know how to solve this issue as well. Running into this if it is a local environment.

[2018-06-04 03:13] robertnicjoo commented on #102
@SimplyCorey  & @techn0guy  I solved my problem by using this code

[code]

now I can have my qr code with my logo in center.

Hope it helps.

[2018-06-04 14:53] SimplyCorey commented on #102
hmm, that's strange.  I'll look into it.

[2018-06-08 06:18] dkp091 opened #104 "Class 'SimpleSoftwareIO\QrCode\QrCodeServiceProvider' not found"
Hey there! I'm using laravel 5.4. in my local machine everything works fine but when i upload "simplesoftwareio" folder into vendor directory on server i got this class not found error. i've already added the providers and aliases in config/app.php

i don't have CLI credentials of my server so i cant run composer update command.
is there any other way to tackle this error ?

plz help me..
thanks

[2018-06-08 07:07] #104 closed

[2018-07-11 17:37] pjeutr opened #105 "imagecreatefromstring(): Data is not in a recognized format"
I get this error seems the same like https://github.com/SimpleSoftwareIO/simple-qrcode/issues/77
But I tried several things and it's not working.
 I dumbed it down to the below example, using your png from github
This is the code I use in my blade, when I remove the merge line, it's working:

[code]

[2018-07-13 07:33] pjeutr commented on #105
It works now for me with another png. The png needs to be in a certain format?

[2018-07-13 08:33] #105 closed

[2018-07-13 18:53] SimplyCorey commented on #105
We will be redesigning qrcode to be better shortly.  Is there any details that you could provide that caused this to fail?

[2018-07-13 18:54] SimplyCorey commented on #103
Packagist was likely just having issues on this day.

[2018-07-13 18:54] #103 closed

[2018-09-07 05:20] weiloon1234 opened #107 "qrcode not verified by some QRCODE SCANNER"
https://play.google.com/store/apps/details?id=com.arara.q

the qrcode generated cannot be scanned by some apps, above is one of the example

some apps can scan, but not as sensitive as i generate the code by using https://www.qr-code-generator.com/

P/S: is the same url generate by simple-qrcode / https://www.qr-code-generator.com/

[2018-09-10 05:35] weiloon1234 commented on #107
base64_encode(QrCode::encoding('UTF-8')->format('png')->merge(asset('logo-icon.png'), .3, true)->margin(0)->size(800)->generate($_G['user']->getInviteLink()))

i foundthe root cause, removed the encoding('UTF-8') will solved

[2018-09-10 05:35] #107 closed

[2018-09-26 00:59] 1419107017 opened #108 "unexpected charactors ]Q2\000026..."
手机扫描正常,不知道为什么有的终端扫描出来会以 ]Q2\000026...开头,多出来这个字符...?

[2018-10-02 03:02] nyel-dev opened #109 "Getting random characters when formatting to PNG"
Sample code:
`QrCode::format('png')->generate('sample qr test');`

It returns me:

�PNG  IHDR���X�IDATH��VA� +h�r��e�Cs� ��	�ZD<��� �o"�&"���D�+9����,��,q9'����Mu௅���a =�͊*��ku���b}���עD>_#N�ŻH�ӏ���8|�E�&B���a��������N.��ƒ�ǫ	O���J��X���:#��4/�U/��M����7�g*i�]��|�2������qmˬ�U�a����y�����K��yv_��p���6�AjIEND�B`�

[2018-10-05 03:05] nyel-dev commented on #109
Solution: https://github.com/barryvdh/laravel-dompdf/issues/194#issuecomment-197876243

[2018-10-05 03:05] #109 closed

[2018-11-08 04:02] wellzhen opened #110 "The requested package simplesoftwareio/simple-qrcode could not be found in any version, there may be a typo in the package name."
What should I do ?

[2018-11-08 04:02] #110 closed

[2018-11-08 04:05] wellzhen opened #111 "The requested package simplesoftwareio/simple-qrcode could not be found in any version, there may be a typo in the package name"
What should I do ? Laravel Framework 5.5.44

[2018-12-06 10:21] atefrihane opened #112 "Position image inside QrCode"
Hey Guys
I have this code below I would like to change data position to the bottom-right of the Qrcode
it's currently centred
how can I do that?

       `        $newTable=Table::create([
            'qr_code' => $qrCodeName,
            'num_table' => $i+1,
            'status' => 1,
            'restaurant_id' =>$restaurant->id,
        ]);
        $numTableImage = Image::canvas(100, 350)->fill(

[2018-12-14 15:44] koolfreak commented on #46
Experienced same issue my code is QrCode::size(250)->format('png')->generate('123456'); always 29x29
Also can i download the qrcode without saving it first? thanks

[2019-01-04 23:36] bryanjamesmiller commented on #38
BaconQrCode now provides an Alpha color class that perhaps could be used to accomplish this:  https://github.com/Bacon/BaconQrCode/blob/2.0.0/src/Renderer/Color/Alpha.php

[2019-01-08 03:53] sqhlib opened #113 "Not support to render image with Imagick"
The lib BaconQrCode now update to 2.0.0 , support to render a image with Imagick，will simple-qrcode will be upgraded to support Imagick?

[2019-02-08 03:00] exskuller commented on #27
i have error : file_get_contents(http://localhost:8000/assets/img/logo_2_0_white.png): failed to open stream: HTTP request failed! (View: /Applications/XAMPP/xamppfiles/htdocs/bo/resources/views/merchant/index.blade.php)
my code:
<img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->merge(url('assets/img/logo_2_0_white.png'), 0.3, true)
->size(500)->errorCorrection('H')
->gener

[2019-02-08 03:03] exskuller commented on #27
<img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->merge(url('assets/img/logo_2_0_white.png'), 0.3, true)
->size(500)->errorCorrection('H')
->generate('Welcome to kerneldev.com!')) !!} ">

[2019-02-08 03:56] exskuller opened #114 "file_get_contents failed to open stream"
i have error :
`file_get_contents(http://localhost:8000/assets/img/logo_2_0_white.png): failed to open stream: HTTP request failed! (View: /Applications/XAMPP/xamppfiles/htdocs/bo/resources/views/merchant/index.blade.php)`
my code:
`<data:image/png;base64, {!! base64_encode(QrCode::format('png')->merge(url('assets/img/logo_2_0_white.png'), 0.3, true)->size(500)->errorCorrection('H')->generate('Wel

[2019-02-08 19:43] SimplyThomas commented on #113
We do plan on upgrading BaconQrCode to 2.0.0.

Added this to the milestone, but it is in the cards.

[2019-02-08 19:43] #113 closed

[2019-02-08 19:45] SimplyThomas commented on #114
This looks like an issue with the `url()` helper and not SimpleQrCode. Try using `asset()` helper instead, but this is not an issue with our package.

[2019-02-08 19:45] #114 closed

[2019-02-08 19:48] #111 closed

[2019-02-08 19:48] #108 closed

[2019-02-08 19:49] SimplyThomas commented on #38
We have to upgrade to BaconQrCode 2.0.0 to support this.

Tagged this under the 3.0.0 release.

[2019-02-08 19:52] SimplyThomas commented on #85
This will be addressed in the 3.0.0 milestone

[2019-02-16 18:36] edsonrbispo opened #115 "Qrcode calendar"
Is there any way to create a calendar qrcode by adding an event.

[2019-02-16 18:36] edsonrbispo opened #116 "Qrcode calendar"
Is there any way to create a calendar qrcode by adding an event.

[2019-02-19 01:34] ch8771 commented on #108
i have the same qustion but i can't solve it.

[2019-03-01 15:00] RSivakov commented on #86
https://stackoverflow.com/questions/45192208/class-form-not-found-in-collective-laravel-5-4

[2019-03-14 11:00] hesheitthey opened #117 "Generated QR code not stored in path given."
I am trying to generate and store the QRCode , but returning file not found error.
How to store it ?
```\QrCode::generate($reservation_id, '/assets/uploads/'.$reservation_id.'.svg');```

I am getting ...

```ile_put_contents(/assets/uploads/15525609678807.svg): failed to open stream: No such file or directory\",\n    \"exception\": \"ErrorException\",\n    \"file\": \"/...vendor/simplesoftwareio/s

[2019-03-24 01:04] Akrobatik opened #118 "Call to undefined function BaconQrCode\Renderer\Image\imagecreatetruecolor()"
Hello,

I've read through issue: #36, #16, #43 and #84 - But I still can't seem to figure out my problem.

I got a Laravel 5.7 installation running in a Docker container.
I've run the composer require simplesoftwareio/simple-qrcode
I've checked the BaconQrCode configs and the version 1.3.0 but im still getting this error:
"Call to undefined function BaconQrCode\Renderer\Image\imagecreatetruecolor(

[2019-03-27 06:49] #117 closed

[2019-03-27 19:57] #118 closed

[2019-03-27 19:57] Akrobatik commented on #118
Fixed by installing the PHP GD library

[2019-04-25 02:44] jlubeck opened #120 "Class qrcode does not exist"
Hi! I'm using the library on Laravel 5.5

It's working great on my dev machine, but when I put everything on production, i get the error:
`Class 'QrCode' not found`

What is weird, is that if I include `use SimpleSoftwareIO\QrCode\Facades\QrCode;` at the top of the file, I then get the slighly different error:
`Class qrcode does not exist`

I already checked the other similar issues, but they are

[2019-04-28 17:01] ducnguyen154 opened #121 "Error Allowed memory size"
I have got bellow error message log when I merge logo into QR code

my php init of memory_limit is 1280M

[2019-04-28 22:51:44] local.ERROR: Allowed memory size of 1342177280 bytes exhausted (tried to allocate 914742576 bytes) {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalErrorException(code: 1): Allowed memory size of 1342177280 bytes exhausted (tried to allocate 914742576 by

[2019-05-09 04:08] koseimori commented on #120
Did you install it with composer?
Have you already tried this command?

`composer dump-autoload`

[2019-05-09 05:02] jlubeck commented on #120
Thank you so much. I don't know which one fixed it. But doing both dump and install fixed the issue. Thanks!

[2019-05-09 05:02] #120 closed

[2019-05-09 09:42] Wolrab1 opened #122 "Website is down for instructions"
Your website is down for documentation

[2019-05-13 04:59] vstyler96 commented on #122
Yes, I cannot read the documentation u_u

[2019-05-14 08:21] chaicai333 commented on #122
Is any alternate website for documentation ?

[2019-05-14 08:24] chaicai333 commented on #122
https://github.com/SimpleSoftwareIO/simple-qrcode/tree/develop/docs/en

[2019-05-15 07:44] trantuanngoctn97 opened #123 "How to insert some text in QRCode format PNG ?"
Please help me. I want to save QRCode with PNG format and i want to insert some text under the QRCode. How can i do that? Did this package support download QRCode in format PNG?

[2019-05-16 04:08] trantuanngoctn97 commented on #112
I have same issue. Anybody can help us ?

[2019-05-16 04:23] trantuanngoctn97 commented on #123
I can create an PNG image from some text by this answer [https://stackoverflow.com/a/49704951/8071577](https://stackoverflow.com/a/49704951/8071577) and save it in folder by this tutorial [https://hdtuto.com/article/how-to-convert-base64-to-image-and-save-it-using-php](https://hdtuto.com/article/how-to-convert-base64-to-image-and-save-it-using-php). Now i want to put an PNG image under QRCode. But

[2019-05-24 03:36] adimaryadi opened #124 "file_put_contents(/home/infiplus/public_html/absen_controller/public/generateQr/demo@gmail.com$2y$10$6x/L894oJ1XiEZ437jNRJOJlpbrA0BXgvK9lpBQnOGlBCqh4SWKVa.png): failed to open stream: No such file or directory"
when me update data always error file_put_contents ,
if I don't have the data updated it's normal,

[2019-05-24 12:34] vitorswaidjr commented on #124
I would suggest you change the code you are trying to generate a qrcode
to...
Notice that the encryption algorithm you are using generate a '/' inside
the string, wich is not allowed to filenames (unless in unix type file
systems). Maybe you can use a BASE64 encryption or smething like that that
will avoid that kind of stuff for your file name :-)
Best regards,
Vitor

On Fri, May 24, 2019 at 12:36

[2019-05-24 13:49] keevitaja opened #125 "documentation webside down"
https://www.simplesoftware.io/simple-qrcode

[code]

[2019-05-26 07:42] mhetreramesh commented on #125
Would be great if the basic documentation to installation is on the project readme file.

[2019-05-27 08:57] trantuanngoctn97 commented on #125
I found this link documentation from repository [https://github.com/SimpleSoftwareIO/simple-qrcode/tree/develop/docs/en](https://github.com/SimpleSoftwareIO/simple-qrcode/tree/develop/docs/en)

[2019-06-10 04:38] pitss-official commented on #91
@chonchol you can convert image into base 64 string and then store in database
for retrieving the image back in the front end, you have to again convert that string into img

[2019-06-12 19:28] Zoha commented on #105
Hi.
I have same issue . I tried different images with different types but still not working .
Do you have any suggestion ?

[2019-06-13 21:41] SimplyCorey commented on #122
Thanks, we have gone ahead and fixed the issue.

[2019-06-13 21:41] #122 closed

[2019-06-13 21:42] SimplyCorey commented on #125
Sorry guys, we fixed the issue.

[2019-06-13 21:42] #125 closed

[2019-06-17 22:26] SimplyCorey commented on #124
Are you still having this issue?  The file get contents is trying to get a file that is not able to be found.  It appears to be encrypted.

[2019-06-17 22:27] SimplyCorey commented on #121
Can you pease provide the code you are using to generate the QrCode

[2019-06-17 22:27] SimplyCorey commented on #115
Dup of #116

[2019-06-17 22:27] #115 closed

[2019-06-17 22:31] SimplyCorey commented on #112
I am confused on the request.  You want to move the image location within the QrCode?

[2019-06-17 22:32] SimplyCorey opened #127 "3.0.0"
Outlining our plans to release Simple-QrCode 3.0.

- [x] Update dependencies (#101 #100)
- [x] Enable Background Transparency (#38)
- [x] Allow for "fancy" QrCodes (#69)
- [x] Fix Margin use cases (#85)
- [x] Determine and solve issue related to white squares (#99)
- [ ] Allow for the image location to be moved around the QrCode (#112)
- [ ] Add new Helpers; Calendar, Ether, others (#116)
- [x] Im

[2019-07-03 22:05] dduenas-tumipos opened #130 "QrCode merge image position problem"
Hello!, im trying to make something like the first image, but i only get the second image. Anyone here have the same problem? Thanks for your comments

*FIRST IMAGE*
![Screen Shot 2019-07-03 at 5 02 57 PM](https://user-images.githubusercontent.com/33697143/60627748-ba7dee00-9db4-11e9-98e3-41fa2a09a7d4.png)

*SECOND IMAGE*
![Screen Shot 2019-07-03 at 4 58 36 PM](https://user-images.githubuserconten

[2019-07-08 12:31] SimplyCorey commented on #130
You want to remove the transparency on the image.

[2019-07-18 07:49] Kadinar-Novel opened #131 "Class qrcode does not exist"
Hi i try to generate qrcode from my controller, I already include use SimpleSoftwareIO\QrCode\Facades\QrCode; but still get error Class qrcode does not exist.. After installed i'm also did composer dumpautoload..
Please help..

[2019-07-18 11:40] yasirmehmood1 opened #132 "size not working at all"
Hi
im working with simple-qrcode but in my case size() is not working its generating 33x33 size image although i have provided different dimensions but still not working saving the image in 33x33

[2019-07-18 14:09] SimplyCorey commented on #132
Please provide example code

[2019-07-18 14:09] SimplyCorey commented on #131
Did you register it in your app.php file?  Provide an example controller please.

[2019-07-18 14:26] yasirmehmood1 commented on #132
QrCode::size(500)
            ->format('png')
            ->generate('ItSolutionStuff.com', public_path('images/qrcode1.png'));

i just simply put that code it generated the image properly but size was not changing i have tried different sizes but no working

[2019-07-19 02:27] Kadinar-Novel commented on #131
yes i did,, but it's done i put use SimpleSoftwareIO\QrCode\BaconQrCodeGenerator; in my controller n it work..
thx this libs it so awesome..

[2019-07-21 14:04] nebtden commented on #132
yes,I'm not work,too

[2019-07-26 17:21] edianogama commented on #132
Yes, the parameter size doesn't work for me.

[2019-07-26 17:32] edianogama commented on #132
I understand.
The Format needs to be the first method called or it will overwrite all of the other set properties.

Try this:

`QrCode::format('png')->size(500)`

[2019-07-30 14:16] SimplyCorey commented on #131
your welcome

[2019-07-30 14:16] #131 closed

[2019-07-30 14:17] SimplyCorey commented on #132
How are you inserting this into your page?  Are you saving the image and putting it in an image tag?  Are you base64 encoding it?

[2019-07-30 18:42] edianogama commented on #132
In page and when I send a email.

**Blade Email:**
`<img src="{!!$message->embedData(QrCode::format('png')->size(300)->generate( $order['order_number']), $order['order_number'].'.png', 'image/png')!!}">`

**Blade view:**
` {!! QrCode::size(250)->generate($item->order_number); !!}`

[2019-08-02 03:32] jpcodeforit commented on #127
when you are going to release 3.0.0?.
Thanks for the library

[2019-08-05 08:17] AliBedaer opened #133 "store key and value"
i want to stor an array of data when qrcode scanned it return array of data , i tried to pass an array to generate method but it only accept string
any idea how do it ?

[2019-08-13 03:06] xylipei opened #134 "Version 5.8 does not work properly"
Version 5.8 does not work properly

[2019-08-13 21:53] rizdem opened #135 "Email QRCode shows "+" instead of spaces in subject & Body"
Any ideas how to show the body & subject string with spaces instead of + icon?

[2019-08-31 18:55] squaddie opened #136 "Transparency?"
Hi, so can I set transparent background in a latest version? I can't find any method, to do this. Also backgroundColor accept rgb, not rgba,  so it's impossible?

[2019-09-06 17:25] Khuthaily commented on #134
It works fine for me. Please provide more info to help us help you ;)

[2019-09-07 11:03] quangvision opened #139 "[Unreported] Call to undefined function BaconQrCode\Renderer\Image\imagecreatetruecolor"
Hello
 I am using Laradock to run Nginx, PHP 7.3, MariaDB, php-worker and Redis.
 I setup `QUEUE_DRIVER=redis` and laravel-worker.conf as below:
`
[program:myproject-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/myproject/artisan queue:work redis --tries=1
autostart=true
autorestart=true
numprocs=2
user=root
redirect_stderr=true
stdout_logfile=/var/www/myproject/work

[2019-09-29 17:56] ikramooe commented on #133
same problem , have you found any solution ?

[2019-09-29 17:57] ikramooe opened #141 "store data"
hello ,
i want to store data in qr code like date ,name ....etc
and retreive it when the qrcode is scanned

[2019-10-22 02:33] quangvision opened #142 "Embed logo be scaled to SQUARE size"
On my project, using this package to generate QRcodes with embed logo that not in square form but in horizontal form. Logo embed is scaled to square and this makes my logo looks ugly.
       For example, this is my logo:
![ta](https://user-images.githubusercontent.com/12606323/67255766-ea5d1880-f4ad-11e9-806c-ab481dc75a80.png)
       Qrcode generated as this:
![TA](https://user-images.githubuserco

[2019-10-24 08:09] michelleyaoyao opened #143 "the qrcode with logo cannot work"
QrCode::format('png')->merge('/resources/logo/test.png',0.3)->size(1000)->generate('this ');

When the second parameter of merge is 0.1 .the qrcode work well 。

 but when I set it to 0.3 , the qrcode not work.

please help me . thankyou .

[2019-11-05 16:44] mabehiry opened #144 "Size not working"
This is the code I use:
\QrCode::size(300)->format('png')->generate($request->code, $qrPath);
But it generates a very small image: 29px.
How can I increase the size to 300px?

[2019-11-15 04:15] TEDinTW commented on #139
I got the same issue too...
Still try to find something out.

[2019-11-19 10:07] marcq64 opened #145 "Laravel 5.7 | Unable to print Qr code in my Email"
Hi,

I have tried several methods to try to print my qr code into my blade file :

Here my blade file :
`

@section('styles')
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/customer/customer.css') }}" >
@stop

@component('mail::layout')
{{-- Header --}}
    @slot('header')
        @component('mail::header', ['url' => 'http://commandes.patisseriemage.ch/admin/login'])

[2019-12-12 20:37] Astriel commented on #144
Same for me.

[2019-12-20 14:02] SimplyCorey commented on #134
I need more information to look into this more.  If you can reproduce this reopen the issue.

[2019-12-20 14:02] #134 closed

[2019-12-24 03:21] anthonyaxenov commented on #144
@mabehiry @Astriel
Read the [documentation](https://www.simplesoftware.io/simple-qrcode/#docs-usage) carefully:

To change size of QR you need to specify its format first, like this:
[code]

[2019-12-29 13:26] putupadang commented on #21
what thats mean the $message variable ?

[2019-12-30 18:26] putupadang commented on #145
i think that is not working because running from local serve ?

[2019-12-30 23:17] Sebascc opened #148 "MeCard not working properly?"
I'm using Laravel to create a QR-Code with SimpleSOftwareIO. I experiance an issue when reacting a MeCard.

I expect the first snippet of code to create a MeCard. But it actually creates QR-code based on a string of the text. You could say that the software is not able to recognise it's suppose to create a MeCard instead of a regular QR-Code.

How do I approach this situation? Below is a snippets

[2020-01-19 12:49] Sebascc commented on #148
Solved, you can generate code by using the following snippit in the Laravel blade template:
`        {!! \SimpleSoftwareIO\QrCode\Facades\QrCode::size(400)->generate('BEGIN:VCARD
VERSION:4.0
N:Gump;Forrest;;Mr.;
FN:Forrest Gump
ORG:Bubba Gump Shrimp Co.
TITLE:Shrimp Man
PHOTO;MEDIATYPE=image/gif:http://www.example.com/dir_photos/my_photo.gif
TEL;TYPE=work,voice;VALUE=uri:tel:+1-111-555-1212
TEL;TY

[2020-01-19 12:50] #148 closed

[2020-02-04 12:33] SimplyCorey commented on #145
This is likely an issue with the email driver.  Which one are you using?

[2020-02-04 12:34] SimplyCorey commented on #143
You need to increase your error correction to account for the image.

[2020-02-04 12:34] #143 closed

[2020-02-04 12:40] #144 closed

[2020-02-04 12:41] #141 closed

[2020-02-04 12:41] SimplyCorey commented on #141
I need more information than this to help you.

[2020-02-04 12:43] SimplyCorey commented on #142
I've added this to 3.0

[2020-02-04 12:43] SimplyCorey commented on #135
Please provide a code sample of where this is happening.  I am unsure of what your issue is.

[2020-02-04 12:43] #135 closed

[2020-02-04 12:44] SimplyCorey commented on #136
This is a feature request and a duplicate of #38

[2020-02-04 12:44] #136 closed

[2020-02-04 12:56] SimplyCorey commented on #127
@codetestmg I plan on working on it shortly.  The issue is always time balancing all over life activities and workload.

Your welcome 👍

[2020-02-04 12:57] SimplyCorey commented on #100
Thanks

[2020-02-04 12:59] SimplyCorey commented on #133
A QrCode must be in string format to my knowledge.  Why not encode a json array into the qrcode?

[2020-02-04 12:59] #133 closed

[2020-02-04 12:59] SimplyCorey commented on #139
Can you provide your code please?

[2020-02-04 13:00] SimplyCorey commented on #145
Closing, feel free to open a new issue if you are still having this issue.

[2020-02-04 13:00] #145 closed

[2020-02-28 19:26] maggz69 opened #149 "Does not Work with Laravel Markdown Mailables"
Using `<img src="{!!$message->embedData(QrCode::format('png')->generate('Embed me into an e-mail!'), 'QrCode.png', 'image/png')!!}">` does not work with mardown mailables because the $message variable is only parsed after rendering the blade template. As such one will get an error Call to a member function embedData() on null. Meanwhile just generating the SVG image files do not display in the ema

[2020-02-29 18:21] SimplyCorey commented on #149
Would an embed inline work in this case?

I would suggest not using a .png but instead base64 encoding it.

[code]

Does this solve your issue?

[2020-03-02 21:40] maggz69 commented on #149
Tested it right now. In blade (rendering email preview in browser) this works, but when sending the email it can't be seen from the client.

![Email](https://user-images.githubusercontent.com/20341115/75720361-09cb4400-5cdf-11ea-89e8-89387a67d27a.png)
![Email Preview](https://user-images.githubusercontent.com/20341115/75720449-31221100-5cdf-11ea-87d9-6ae297774697.png)

[2020-03-03 16:06] maggz69 commented on #149
As I discovered, gmail and most other webclients don't support base64 images. https://stackoverflow.com/questions/12655764/base64-not-being-decoded-in-gmail

Possible alternatives are : generating the PDF and attaching the file then editing the PDF or, not using mailables(?)

[2020-03-05 00:09] SimplyCorey commented on #149
hmm, that is interesting.  I did not know that gmail dropped support for base64 inline images.  Thanks for letting me know.

You should be able to generate the qrcodes on demand and save them to a s3 bucket and then use the public url to put them within the email.

My other suggestion would be to include a link they can click on that generates them on the fly.  This might be better overall as you

[2020-03-05 00:09] #149 closed

[2020-03-05 00:10] SimplyCorey commented on #149
Another item you could do is generate the file locally, and then attach it to the email.

[2020-03-12 15:49] BirgitZ opened #150 "bacon/bacon-qr-code 2 Support"
Please add bacon/bacon-qr-code 2.0 Support for the package

[2020-03-23 21:45] SimplyCorey commented on #150
The plan is to get simple-qrcode 3.x done this month which will include bumping all dependencies to the latest.  🙃

[2020-03-27 13:35] paishin commented on #48
I have the same issue, can't generate QR code with pre-filled text. The phone number is recognized fine but the prefilled text is not shown.

@ahmedmaazin solution does resolve the issue on my device and I have tried this on multiple phones around the office, all seem to recognize smsto just fine.
Maybe we should revisit this issue in 2020 and re-evaluate compatibility.

Or at least provide a way

[2020-04-20 19:16] LaurentOuattara opened #151 "Don't show qr code in dompdf laravel package"
I want to use a qrcode on a pdf generated with Dompdf but when the pdf is generated I receive an empty square
`<table style="border:1px solid black; padding: 25px;" >

    <tbody>
        <tr>
            <td>
                <div style="padding:10px;">

                    {!!  QrCode::size(200)->generate('A basic example of QR code!'); !!}

                </div>
            </td>
            <t

[2020-04-21 10:53] LaurentOuattara commented on #151
Solution
`<img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->size(100)->generate('Make me into an QrCode!')) !!} ">`

[2020-04-21 10:53] #151 closed

[2020-05-01 08:54] ArthurShlain opened #152 "Scale property instead of size"
Need scale attribute instead of using size. I have very small pixels sometimes when QR code data is large and size specified 150..200 pixels. I need just 200-300% scaling of pixel-perfect QR code.

[2020-05-01 09:10] ArthurShlain commented on #152
Solved by two-step QR-code generation:

[code]

[2020-05-11 02:03] SimplyCorey commented on #152
This is a known issue that will be solved when v3 ships.  I am going to put some time aside soon to knock this out.

[2020-05-12 21:21] revroad-dev commented on #21
This still doesn't work for me. Copied it exactly as is.

[2020-05-13 17:13] SimplyCorey commented on #21
@revroad-dev It's possible that gmail has changed something on their end.  Can you paste an example of a raw email in here please?

[2020-05-17 12:55] #121 closed

[2020-05-17 12:55] #124 closed

[2020-05-17 12:59] SimplyCorey commented on #130
Closing as stale.

[2020-05-17 12:59] #130 closed

[2020-05-17 13:00] SimplyCorey commented on #150
Started work on v3 this morning and wrapping this up with #100

[2020-05-17 13:00] #150 closed

[2020-05-17 13:01] SimplyCorey commented on #139
Closing as stale.

[2020-05-17 13:01] #139 closed

[2020-05-17 13:10] SimplyCorey opened #153 "Call for community help"
Hey everyone,

I am currently finishing up the v3 version of simple-qrcode and I am putting out a call for help to translate the newest docs.  If you would like to help, please comment below and I will let you know when the new docs are ready 🙃

[2020-05-17 13:32] #101 closed

[2020-05-17 13:32] #100 closed

[2020-05-26 16:51] SimplyCorey commented on #38
This is resolved in v3 which I am finishing up the docs for and will push up this week.

[2020-05-26 16:51] #38 closed

[2020-05-26 16:52] SimplyCorey commented on #69
This is resolved in v3 which I am finishing up the docs for and will push up this week.

![image](https://user-images.githubusercontent.com/624784/82928094-ba985680-9f4f-11ea-9643-a8498cd6e10f.png)

[2020-05-26 16:52] #69 closed

[2020-05-26 16:52] SimplyCorey commented on #99
This is resolved in v3 which I am finishing up the docs for and will push up this week.

[2020-05-26 16:52] #99 closed

[2020-05-26 16:53] SimplyCorey commented on #85
This is resolved in v3 which I am finishing up the docs for and will push up this week.

[2020-05-26 16:53] #85 closed

[2020-05-26 16:54] SimplyCorey commented on #132
This is resolved in v3 which I am finishing up the docs for and will push up this week.

[2020-05-26 16:54] #132 closed

[2020-05-26 16:54] SimplyCorey commented on #152
This is resolved in v3 which will be shipped this week.

[2020-05-26 16:54] #152 closed

[2020-05-26 17:59] mosvict opened #155 "QrCode::encoding('SHIFT-JIS')"
Hello.
I need to build qrcode with shift-jis.
So I have checked documentation and implemented with shift-jis.
But I can see encoding error. How to solve it?
[https://prnt.sc/so9e5k](url)
[https://prnt.sc/so9ehq](url)

[2020-05-26 18:03] SimplyCorey commented on #155
Can you provide your method call please?

[2020-05-26 18:05] mosvict commented on #155
$var="ありがとうございます。";
<img src="data:image/png;base64, {{ base64_encode(QrCode::encoding('SHIFT-JIS')->format('png')->size(400)->errorCorrection('H')->generate($var)) }}">

[2020-05-26 18:09] mosvict commented on #155
`
$var = mb_convert_encoding($var, "SJIS", "UTF-8");
`
I tried to convert string to SJIS from UTF-8. But It was failed too.
Please help me.  :)

[2020-05-26 18:12] SimplyCorey commented on #155
I think the issue is your calling format *after* you set the encoding.  This is a known design flaw in 2.x and is resolved in the new 3.x release coming this week :)

Try this:

[code]

[2020-05-26 18:15] mosvict commented on #155
Thanks. I tried but I see same error.
[https://prnt.sc/so9p4t](url)

[2020-05-26 18:16] SimplyCorey commented on #102
This is fixed in v3 shipping later this week.

[2020-05-26 18:16] #102 closed

[2020-05-26 18:17] SimplyCorey commented on #155
Would UTF-8 work for you?

`QrCode::format('png')->encoding('UTC-8')->size(400)->errorCorrection('H')->generate($var))`

[2020-05-26 18:18] mosvict commented on #155
Sure. UTF-8 is working well.

[2020-05-26 18:20] SimplyCorey commented on #155
Awesome 👍

There must be a bug in 2.x with this.  I just tried the exact code in 3.x and it works.  This should release on Thursday if you want to upgrade then.

[2020-05-26 18:20] #155 closed

[2020-05-26 18:20] SimplyCorey commented on #155
From 3:

![image](https://user-images.githubusercontent.com/624784/82936101-136dec00-9f5c-11ea-99a1-70269a7c9e6c.png)

[2020-05-26 18:21] mosvict commented on #155
Thanks. Thusday?
Actually, It is urgent for me. :(

[2020-05-26 18:27] SimplyCorey commented on #155
You can use the UTF-8 encoding on 2.x until then.

[2020-05-31 22:04] mosvict opened #157 "QrCode::encoding('SHIFT-JIS')"
Hello. How are you?
when you are going to release 3.0?
UTF-8 is working now but I need to use shift-jis encoding.

[2020-06-01 00:42] SimplyCorey commented on #157
I have been busy this weekend knocking out some private code.  3.0 should launch Tuesday after a final review of the docs and a wrap up of the unit tests.  You could pull dev-develop branch for now in composer if you need this functionality now.  The api is largely stable assuming I dont fihd any bugs by Tuesday.

[2020-06-02 16:46] #127 closed

[2020-06-02 16:46] #157 closed

[2020-06-04 01:20] mosvict opened #160 "upgrade 2.0 to 3.0"
Hello. How are you?
Thank you for your update.
I updated simple-qrcode 2.0 to 3.0.
But I see this error.
Class 'SimpleSoftwareIO\QRCode\QRCodeServiceProvider' not found
I defined this code in 2.0.
SimpleSoftwareIO\QRCode\QRCodeServiceProvider::class
'QRCode' => SimpleSoftwareIO\QRCode\Facedes\QRCode::class

How to solve this problem?
And Can I use previous code to generate qr code?

[2020-06-04 01:36] SimplyCorey commented on #160
You no longer have to define the Service provider and facede.  Laravel will pick it up automatically and it should work out of the gate.  Those files were renamed and moved around.  I'll update the docs to reflect the changes in the upgrade guide.

[2020-06-04 01:37] mosvict commented on #160
Thanks.
https://www.simplesoftware.io/simple-qrcode
I can't see it.

[2020-06-04 01:38] SimplyCorey commented on #160
The website was moved to github pages and is still propagation.

You can use this: https://github.com/SimpleSoftwareIO/simple-qrcode/tree/develop/docs/en

[2020-06-04 01:39] mosvict commented on #160
Thank you.

[2020-06-04 01:41] SimplyCorey commented on #160
No problem, thanks for letting me know 🙃

[2020-06-06 10:05] mosvict opened #161 "QrCode::encoding('SHIFT-JIS') is not working."
Hello. How are you?
I have a problem.. I already this problem in 2.0.
But I have this problem in 3.0 too.
Can you check it?

[2020-06-06 11:06] gwidgery commented on #160
Hi
I was having the issue described here https://github.com/SimpleSoftwareIO/simple-qrcode/issues/85 to do with margin being added to the QR codes. The thread said it was fixed in v3. I've just followed the upgrade guide but now am getting the error:

Error Class 'SimpleSoftwareIO\QrCode\QrCodeServiceProvider' not found

I've followed the steps above and removed the two entries in app.php and run

[2020-06-06 11:13] mosvict commented on #160
Hi.
I removed 2.0 and installed 3.0.
And I removed 2 lines in app.php and didn't change any code. It was working well.

[2020-06-06 11:22] gwidgery commented on #160
I've tried that as well. But no whenever I run any php artisan command I just get that same error:

php artisan package:discover --ansi
In ProviderRepository.php line 208:
  Class 'SimpleSoftwareIO\QrCode\QrCodeServiceProvider' not found

After uninstalling it's no longer in my composer.josn, yet something in laravel is trying to find the class!

[2020-06-06 11:27] mosvict commented on #160
Did you remove 2 lines in providers and aliases?

[2020-06-06 11:30] gwidgery commented on #160
Yes. They're gone.

When I try and reinstall v3 now I get this error:

`composer require simplesoftwareio/simple-qrcode "~3"
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Nothing to install or update
Package moontoast/math is abandoned, you should avoid using it. Use brick/math instead.
Package zendframework/ze

[2020-06-06 11:36] mosvict commented on #160
I did the following:
- Remove 2 lines in app.php
- composer remove simplesoftwareio/simple-qrcode
Please check composer.json after run it.
- composer require simplesoftwareio/simple-qrcode
Please check composer.json after run it.
- Please install imagick package.
You can search imagick on google.
Copy php_imagick.dll to c:\xampp\php\ext
Copy CORE*.DLL and IM*.DLL to c:\xampp\apache\bin
Restart apa

[2020-06-06 11:50] gwidgery commented on #160
I think I found the issue. The app.php (with those two extra lines) had been cached. I couldn't clear the cache because my php artisan commands were failing.

I manually removed them from the cached file and got past the class not found error. I've installed v3 now.

Next issue is that I'm getting another error on the page where I'm actually using the package. With v2 at the top of the controller

[2020-06-06 12:33] mosvict commented on #160
Did you define "use SimpleSoftwareIO\QrCode\Facades\QrCode;" in controller?

I used this code.
use QrCode;

[2020-06-06 20:22] SimplyCorey commented on #160
You should be able to call QrCode directly if it was registered with Laravel.

You should not have to pull in the file from a use statement.

[2020-06-06 20:24] SimplyCorey commented on #161
What's the code?

[2020-06-06 20:25] SimplyCorey commented on #160
@gwidgery can you provide a complete code example and I will look into it.

[2020-06-06 22:10] mosvict commented on #161
QrCode::encoding('SHIFT-JIS')

[2020-06-09 18:32] SimplyCorey commented on #161
What's the data being encoded?  I am able to run this without any issue.

[2020-06-10 04:03] wanderer9456 opened #162 "Fetching data from database to produce QR Code"
Hi, everyone!
I'm looking for a step by step guide on how to generate QR code based from the items in database table instead of string from blade or controller. I'm really new to laravel, hope anyone can help. Thank you in advance.

[2020-06-10 05:29] #162 closed

[2020-06-11 10:15] gwidgery commented on #160
Thanks to the both of you. It's working now by just calling QrCode. I had the long 'use' string from v2 still being used.

However the former issue with regards to the caching might crop up for other users. I think the solution would be remove those two lines from app.php, then clear the cache, then uninstall v2. If you uninstall first it leaves those two lines in the cached file. It's then lookin

[2020-06-11 12:12] SimplyCorey commented on #160
@gwidgery, I agree.  I am going to get something added to the upgrade docs so this isn't an issue moving forward.  Thanks for the feedback.

[2020-06-11 12:15] gwidgery commented on #160
@SimplyCorey Happy to help! That would be great moving forwards. Spent a few hours scratching my head on this one! I might suggest adding to the upgrade docs to change the use statement as well:
from:
`use SimpleSoftwareIO\QrCode\Facades\QrCode;`
to:
`use QrCode;`

[2020-06-13 08:48] mosvict commented on #161
I will show you my code.
- in controller
$param = "会社名 " . " 郵便番号 111ー222\n";
$param .= "住所 〒106-0044東京都港区東麻布1-8-1 東麻布ISビル\n";
$pdf = PDF::loadView('index', compact(param));
$pdf->download('example.pdf');
- in view
<img src="data:image/png;base64, {{ base64_encode(QrCode::encoding('SHIFT-JIS')->format('png')->size(400)->errorCorrection('H')->generate($param)) }}">

Of course, When I use UTF-8, the

[2020-06-15 19:33] JexPY opened #163 "Got problem with imagecreatefromstring()"
`Symfony\Component\Debug\Exception\FatalThrowableError: Call to undefined function SimpleSoftwareIO\QrCode\imagecreatefromstring() in /var/www/vendor/simplesoftwareio/simple-qrcode/src/Image.php:21`

I am getting this error only while trying to run queue jobs from php-worker, what do you think is it something caused by php version or Imagick?

[2020-06-15 19:57] JexPY commented on #163
I needed to enable GD for php now everything works.

[2020-06-15 19:57] #163 closed

[2020-06-21 05:43] mosvict commented on #161
Hi. Can you check it?

[2020-06-28 19:29] ErikB26 opened #164 "Generated QR code looks weird"
I know, 'looks weird' is a broad term, so I'll just demonstrate it with my example:

`$image = \QrCode::size(500)->generate('hello world');`

Svg looks like this:
<img width="501" alt="qr" src="https://user-images.githubusercontent.com/23705771/85956391-e4e19780-b985-11ea-8578-d19bc33e55d3.png">

The size of the svg is correct (500x500). It just looks like scaled up or something like that?

[2020-06-29 00:51] ZBrettonYe commented on #153
I can help with Simplified Chinese:)

[2020-06-29 18:28] SimplyCorey commented on #153
@ZBrettonYe I would love that 🙃   Please open a PR with a translated doc into the `/docs/LANG_CODE/`

[2020-07-01 16:33] ZBrettonYe commented on #153
Done #165. The document is base on the pass translation file and the newest `en` docs.

[2020-07-01 17:04] SimplyCorey commented on #164
How was this printed out?  Can I see how it was inserted into the HTML please.

[2020-07-01 17:05] SimplyCorey commented on #161
I'm confused on the issue here,  I don't experience any errors when I run this.  Are you seeing an error?  Does the QrCode not scan?

[2020-07-01 20:49] GenedyMohamed opened #166 "SVG with logo merging"
Is it possible by any means to get logo in SVG format?

[2020-07-02 08:27] ErikB26 commented on #164
This is what the svg looks like.
[code]
When inserted as base64 in the src of an HTML img-tag, it also looks like that. There is no CSS involved.

[2020-07-02 12:00] SimplyCorey commented on #164
You should not have to base64 encode a SVG file, that should only apply to a PNG.  How did you print this in the blade / HTML file?

[2020-07-03 23:35] GenedyMohamed opened #167 "SMS not working"
SMS with message does not add message to the message field

[2020-07-04 00:19] GenedyMohamed commented on #48
The solution to hardwrite the SMSTO: in the generate string didnt work for me

[2020-07-04 07:37] GenedyMohamed commented on #167
->generate('SMSTO:1123456:This is a SMS stored in a QR Code!');

Solved by this

[2020-07-04 07:37] #167 closed

[2020-07-04 13:03] ErikB26 commented on #164
I know I don't have to encode it, it was just one of the things I tried.

I load it into the HTML via the usual way: relative path in the src-attribute.

But the issue is within the svg, because when i save the file and open it in a webbrowser (Chrome, Safari) it still looks the same.

[2020-07-05 19:56] ourada84 opened #168 "QrCode::wiFi does not accept variables"
hi i need to generate wifi qr code from variable from database. i use laravel.

I'm trying:

` {!! QrCode :: wiFi ([$ col]); !!} `

where `$col` has value` 'ssid' => 'mywifi', 'password' => 'mypass', 'encryption' => 'WPA'`

but unfortunately the code always has the values null, null, null

any idea please? Thank you

[2020-07-08 02:11] meshmmanuel commented on #160
Hi guys,
I'm having an issue upgrading from 2.0 to 3.0 too.

**Error**
_PHP Fatal error:  Interface 'Illuminate\Contracts\Support\DeferrableProvider' not found in C:\Users\meshm\Documents\Mealimeter\codebase\local\mealimeter-api\vendor\simplesoftwareio\simple-qrcode\src\ServiceProvider.php on line 8
In ServiceProvider.php line 8:

  Interface 'Illuminate\Contracts\Support\DeferrableProvider' not f

[2020-07-12 20:19] sportdude opened #169 "SMS separator is incorrect"
I'm unable to push my change, but the SMS qr code isn’t filling in the message box on my iPhone with the $message. The separator is incorrect.

Line 19 of src/DataTypes/SMS.php
\-    protected $separator = ':';
\+    protected $separator = '&body=';

This works 👍

[2020-07-15 00:19] SimplyCorey commented on #169
Thank you, I will address this in an upcoming release.

[2020-07-15 00:19] SimplyCorey commented on #168
I'll take a look over the upcoming days.  Thanks for reporting.

[2020-07-16 20:54] ZBrettonYe opened #171 "A error appear when using style('round', 0.9) in sever environment"
In the front end, I have
 `<img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->margin(2)->eyeColor(1, 0, 204, 153, 0, 153, 119)->style('round', 0.9)->size(250)->errorCorrection('H')->merge(url($pay_type_icon), .3, true)->generate($payment->url))!!}">`

The laravel give me a message
`too many bezier coordinates `M8 0.4500000000000000111L8 2.5499999999999998224 A0.4500000000000

[2020-07-17 17:21] vkiranmaniya opened #172 "Generate QR Code with transparent background"
I tried using backgroundColor(255, 0, 0, 0); but it's seems not working. How to generate svg QRCode with transparent background?

[2020-07-23 21:29] ilkerkocatepe commented on #171
I have a same error in my project. Because of url size, as yours.
I'm looking forward for answers...
Thank you...

[2020-07-23 23:18] ZBrettonYe commented on #172
You should really read the documents!!  Here is the link https://www.simplesoftware.io/#/docs/simple-qrcode

`QrCode::backgroundColor(255, 0, 0, 25); //Red background QrCode with 25% transparency `

The 4th parameter tells the percentage of transparency

[2020-07-25 17:55] GenedyMohamed commented on #135
Shows plus instead of spaces in iOS

$attrs = $user_qrcode->attributes()->get();
$qrcode_content = $qrcode->email($attrs[0]->value, $attrs[1]->value, $attrs[2]->value);

[2020-07-25 18:03] GenedyMohamed opened #173 "Email Invalid Format"
Shows plus instead of spaces in for subject and body on some or most phones.
On huawei phone camera it opens correctly on outlook app but does not show body and subject on gmail app. Using 3rd party app works on gmail also though.

$attrs = $user_qrcode->attributes()->get();
$qrcode_content = $qrcode->email($attrs[0]->value, $attrs[1]->value, $attrs[2]->value);

[2020-07-27 18:48] ilkerkocatepe commented on #84
Sorry for reopen the issue.
I have an error like this.
I'm using Laravel 7 and simple-qrcode": "^3.0"
And;
use SimpleSoftwareIO\QrCode\Facades\QrCode;
doesn't work for me. Do you have any solution?
Thank you...
Regards

[2020-07-27 19:02] SimplyCorey commented on #84
@ilkerkocatepe Your using 2.0 code while using 3.0.

Try using `use SimpleSoftwareIO\QrCode\Facade`

[2020-07-27 19:07] ilkerkocatepe commented on #84
Thank you for your answer @SimplyCorey ,
But it doesn't work still.
PS:
In blade files {!! base64_encode(QrCode::format('png') ... !!} works.
I'm getting error in controller files

[2020-08-06 07:19] euneuber opened #174 "Warning on installation"
Hi! Thank you for providing this interesting and helpful Laravel package!

On install I got a friendly reminder that some of the dependencies are abandoned:
[code]

[2020-08-10 10:23] Tklaversma opened #175 "Do not explicitly require bacon-qr-code 2.0.0"
By explicitly requiring ```"bacon/bacon-qr-code": "2.0.0"``` instead of ```"bacon/bacon-qr-code": "^2.0"``` I get an error when also requiring other packages that has ```bacon-qr-code``` as a dependecy.

As a workaround I now directly depend on ```bacon-qr-code 2.0.0``` in my own project.

Could you update the ```composer.json``` to use ```"bacon/bacon-qr-code": "^2.0"``` please? This way people c

[2020-08-16 08:04] trinhcanhphuc opened #176 "Image result black and white with size 200"
Result image return black and white logo when I merge with this logo: https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/320/google/110/third-place-medal_1f949.png

[2020-08-17 20:19] SimplyCorey commented on #176
Can I get a full code sample please?

[2020-08-17 20:19] SimplyCorey commented on #175
@Tklaversma This makes sense and was a mistake on my part.  Thanks for reporting.

[2020-08-17 20:41] Tklaversma commented on #175
No worries. Glad you're picking it up!
When can we expect the update?

[2020-08-17 20:42] Tklaversma commented on #175
@SimplyCorey No worries. Glad you're picking it up! When can we expect the update?

[2020-08-17 22:28] SimplyCorey commented on #175
Something should go out this week.  I have some other issues I want to wrap up in this next release.

[2020-08-18 11:09] trinhcanhphuc commented on #176
$qrcode->format('png')->merge($this->data['logo'], 0.3, true)
        ->size(500)->errorCorrection('H')
        ->color($fore_color[0], $fore_color[1], $fore_color[2])
        ->backgroundColor($back_color[0], $back_color[1], $back_color[2])
        ->encoding('UTF-8')
        ->generate($content, $this->get_qr_images_path());

Yes, this is my code $this->data['logo'] is base64 image encode, $cont

[2020-08-24 00:52] Iamnameless opened #177 "Interface 'Illuminate\Contracts\Support\DeferrableProvider' not found"

[2020-08-25 09:49] lybuneiv commented on #177
Pls help I also get this error

[2020-09-04 03:17] rreynier opened #178 "QrCode facade confusing and probably requires documentation adjustments"
The documentation directs us to simply use: `QrCode::generate('Make me into a QrCode!')` without mention of a `use` statement. This does not work in a controller for example.

There does not appear to be a facade called QrCode either.

After some poking around I did find a file literally called `Facade` which does work by simply importing `SimpleSoftwareIO\QrCode\Facade` which then allows me to do

[2020-09-10 11:02] benjamindoe opened #182 "return instance of HtmlString"
Hi,

Have you considered returning the QR string as an instance of `Illuminate\Support\HtmlString`? It would mean you don't need to do `{!! $qrString !!}` but instead `{{ $qrString }}`

[2020-09-10 11:04] benjamindoe commented on #182
Happy to implement this if PR would be accepted. Can make it possible to only return `HtmlString` instance if `illumiante\support` is installed

[2020-09-14 23:45] ssistemas commented on #177
compatible only with version > = 5.8 :

[2020-09-18 05:44] koko-e opened #184 "I get a err like "Interface 'Illuminate\Contracts\Support\DeferrableProvider' not found" in laravel 5.7"
Hello ,

when I try to upgrade 2.0 to 3.0 at laravel 5.7 , I get this error
"Interface 'Illuminate\Contracts\Support\DeferrableProvider' not found"
how i can fix it , please? do I need to upgrade laravel to 5.8 or only this way ?

[2020-09-18 12:56] SamuelNitsche commented on #184
I think version 3 requires laravel 5.8 or later.

@SimplyCorey Wouldn't it make sense to add version constraints for laravel in the `composer.json` file?

[2020-09-18 14:03] koko-e commented on #184
@SamuelNitsche
Thank you , I think you are right , I fixed it  after  upgrate laravel 5.7 to 5.8 .
but it is better if ver2 can still download and use after ver3 released.

[2020-09-21 11:08] SimplyCorey commented on #184
version 2 is still available for use.  There's a known issue with the service provider changed in v3.  I'm debating on how to fix the issue without causing a breaking change.

[2020-09-30 19:23] jcorrego commented on #153
I can help with Spanish Translation.

[2020-10-01 20:31] sagadsalem opened #187 "Size in percentage"
I want to make the size of the SVG QR to 80% for example
but the size function accepts only numeric values
any ideas

[2020-10-02 16:23] SamuelNitsche commented on #187
This doesn't really make sense. You cannot just create something with a size of 80% of _something_. What do you really try to achieve?

[2020-10-02 16:56] sagadsalem commented on #187
why not making sence?
if i have responsive site then the size will not work proply form me

[2020-10-02 17:02] SamuelNitsche commented on #187
You should create the qr code as svg so you can make it responsive.

[2020-10-02 17:04] sagadsalem commented on #187
I always format qr as SVG but still i cant size it the qr still not responsive

[2020-10-03 02:09] SimplyCorey commented on #153
@jcorrego Thank you

[2020-10-03 13:16] #172 closed

[2020-10-03 13:28] SimplyCorey commented on #160
This should be fixed in the release that will go out today (3.0.1) I removed the deferrable provider all together.

[2020-10-03 13:28] #160 closed

[2020-10-03 13:29] #161 closed

[2020-10-03 13:29] #169 closed

[2020-10-03 13:30] SimplyCorey commented on #166
I'll be happy to accept a PR request is someone wants to complete this enhancement.

[2020-10-03 13:34] SimplyCorey commented on #164
Unfortunately, I can not reproduce this so I am going to close the issue.  3.0.1 has an upgraded dependency that might solve this issue for you.

[2020-10-03 13:34] #164 closed

[2020-10-03 13:36] SimplyCorey commented on #171
Can you provide the urls that can be used for testing?  I can't seem to reproduce this.

[2020-10-03 13:37] SimplyCorey commented on #171
Example with test stuff: ![image](https://user-images.githubusercontent.com/624784/94993023-05f4ee00-055c-11eb-8e80-89472583144a.png)

[2020-10-03 13:38] #112 closed

[2020-10-03 13:40] SimplyCorey commented on #168
I am able to generate wifi qrcodes on the latest version.  I think something is wrong with your code.

Here is an example:

`QrCode::wiFi(['ssid' => 'wifi', 'password' => 'pass', 'encryption' =>  'WPA']);`

[2020-10-03 13:40] #168 closed

[2020-10-03 13:41] SimplyCorey commented on #184
This should be fixed in 3.0.1 shipping later today.

[2020-10-03 13:41] #184 closed

[2020-10-03 13:42] SimplyCorey commented on #187
This isn't really supported.  I would suggest making your qrcode at a fixed width (250 pixels) for example and then using CSS to scale the qrcode to fix 80% of whatever container you need to put the qrcode into.

[2020-10-03 13:42] #187 closed

[2020-10-03 13:42] SimplyCorey commented on #182
I would accept a PR for this.

[2020-10-03 13:46] SimplyCorey commented on #178
This was a mistake on my part when I made some code changes on v3.  I am going to revert to the v2 way of this to resolve these issues.

[2020-10-03 13:49] SimplyCorey commented on #177
V3 only supports Laravel 5.8 and above.  You can use the old v2 if you need support on these.

[2020-10-03 13:49] #177 closed

[2020-10-03 13:49] SimplyCorey commented on #177
https://github.com/SimpleSoftwareIO/simple-qrcode/tree/v2

[2020-10-03 13:50] SimplyCorey commented on #176
I can not reproduce this.  Please reopen if this continues on 3.0.1

[2020-10-03 13:50] #176 closed

[2020-10-03 13:50] #175 closed

[2020-10-03 13:50] SimplyCorey commented on #175
This is within 3.0.1.

[2020-10-03 13:51] SimplyCorey commented on #174
We don't call this dependency so I'm not sure where this is coming from.

[2020-10-03 13:51] #174 closed

[2020-10-03 13:55] SimplyCorey commented on #173
Unfortunately, there isn't much I can do to force these phones to accept a formatted QrCode.  There might be a better separator that can be used that has wider support.  Currently `body` and `subject` are used to build the QrCode.

I'll reopen this if you can provide some screenshots of what you are seeing and some suggestions for better separators.

[2020-10-03 13:55] #173 closed

[2020-10-03 14:18] SimplyCorey commented on #178
I've addressed this in the new release today.  Originally, I was going to release 3.0.1 to fix this and some other bugs but the change has the possibility to be backwards breaking so v4 is being released.  I've also added a statement to the docs to pull in the facade correctly.

[2020-10-03 14:18] #178 closed

[2020-10-04 03:52] bilogic opened #192 "Remove overlaps with logo for better look"
![image](https://user-images.githubusercontent.com/946010/95006511-f0ed8d00-0637-11eb-87b1-7c941b32fc5d.png)

Possible to remove overlapping parts of the qrcode?

[2020-10-04 09:05] lyekumchew opened #193 "qrcode merge error"
When a picture with transparency (PNG) is merged into a QR code, the four red boxes display the transparent part instead of the QR code. I can't do it like a demo.

![image](https://user-images.githubusercontent.com/6694725/95011229-d29c8700-0661-11eb-897d-64f3429ae95f.png)
![image](https://user-images.githubusercontent.com/6694725/95011232-d6c8a480-0661-11eb-96ea-68eaf1b2432b.png)

[code]

simple

[2020-10-04 11:48] bilogic commented on #193
@lyekumchew it is because your image has no transparency.

[2020-10-04 13:43] lyekumchew commented on #193
The four red frames on the image show white because my background color is white. If it is black, the four places are shown as black. Merge images are mentioned in the code.

`https://avatars0.githubusercontent.com/u/7749926?s=400&v=4`

[2020-10-04 13:46] ZBrettonYe commented on #171
it only happen when the php has low memory setting, long url and complex qrcode settings.

The error only appeared when I deployed the code on my server, it did not show up when I developed the web on my local machine with the same qrcode setting and url.

[2020-10-04 14:49] SimplyCorey commented on #192
Was a white boarder added to the second image?  I agree it looks better and wouldn't be difficult to add.

[2020-10-04 14:50] bilogic commented on #192
No, I fired up photoshop to show what I wanted :)

[2020-10-04 14:52] bilogic commented on #192
So all I'm trying to say is, can we add the logic to white out parts of the QR code where the logo will overlap?
Of course at the same time, also center the logo so that the white border is symmetrical on all sides.

[2020-10-04 14:55] SimplyCorey commented on #192
I really like it 😄. I should have some extra time this week to add this but if you beat me to a PR I'll accept it as well.

[2020-10-04 14:55] bilogic commented on #192
Haha ok, hmm I don't mind, but I'm not familiar with your codebase. Can give me a few pointers on where to look?

[2020-10-04 15:05] SimplyCorey commented on #192
The qrcode merging happens in the `ImageMerge` file (https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/src/ImageMerge.php). It's pretty simple overall as it takes the qrcode and just overlays the image.

I think this feature would be as easy as adding a boarder around the merging image.  The boarder color should likely match the background color.

As far as the `merge` property (done

[2020-10-04 15:06] bilogic commented on #192
Ok, let me take a look shortly. Thank you.

[2020-10-04 15:07] SimplyCorey commented on #193
Interesting.  Is this happening on 4.0.0?

[2020-10-04 15:18] bilogic commented on #192
Just to clarify, my "algo" was to cleanly erase enough space in the center of the qrcode matrix before centering the logo in the available space. Is https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/src/ImageMerge.php still the place to look?

TBH, I'm currently using Endroid/qr-code, but they are not fluent, and then I found yours.
I saw a matrix somewhere (`$baconQrCode->getMatrix()

[2020-10-04 16:35] bilogic commented on #192
@SimplyCorey

![image](https://user-images.githubusercontent.com/946010/95021202-23cc6b00-06a2-11eb-93fc-ced385460518.png)

1. I started with the fluent, so it should be `QrCode::erase(...)`
2. Then took a quick dive into the code of https://github.com/SimpleSoftwareIO/simple-qrcode/blob/1c8484314ce02f8c6b7a3c810d132d1cf5db7464/src/Generator.php#L169
3. Short of editing alot of code, I can't seem

[2020-10-05 01:20] lyekumchew commented on #193
I've tried versions 3.0.0 and 4.0.0, both of which have this problem.

[2020-10-05 08:46] psycrow117 opened #197 "Is the Eye Shape(circle) really look like this?"
Hello!
I just wanna know if its intended that the eye shape "circle" should be really like that?
![image](https://user-images.githubusercontent.com/1185466/95058444-1f4b9500-072a-11eb-849f-9f363e0ef473.png)

instead of

![image](https://user-images.githubusercontent.com/1185466/95058511-38ecdc80-072a-11eb-81ee-5cb022a2b367.png)

Thanks!

[2020-10-05 10:00] psycrow117 opened #198 "How to change eye frame shape(curved square, square)"
Hi,

I just saw a sample test on this [link](https://github.com/SimpleSoftwareIO/simple-qrcode/issues/171#issuecomment-703105079) and I'm curious if is it possible to have a different eye frame shape(curved square, square) right now to do? and how?

Here is the image I saw from the link
![image](https://user-images.githubusercontent.com/1185466/95066120-8c642800-0734-11eb-91e5-68ac9428a917.png)

T

[2020-10-05 10:59] SimplyCorey commented on #198
There is a method called `eyeStyle` which can change the eyes.  There is two acceptable styles currently, `circle` and `square`.  The eyes are slightly changed based upon which overall style is being used.  There is more information in the docs.  https://www.simplesoftware.io/#/docs/simple-qrcode

![image](https://user-images.githubusercontent.com/624784/95071715-1b8f2280-06d8-11eb-9e0d-5c24a0d64b

[2020-10-05 11:06] SimplyCorey commented on #197
That is the correct eye shape.

[2020-10-05 11:06] #197 closed

[2020-10-05 15:54] rreynier commented on #178
Thank you!

[2020-10-05 18:21] thisisandreww commented on #142
I had a workaround on this..

`    private function calculateOverlap($percentage)
    {
        $ratio = $this->mergeImageWidth / $this->mergeImageHeight;
        $this->postMergeImageWidth = $this->sourceImageWidth * $percentage;
        $this->postMergeImageHeight = $this->postMergeImageWidth / $ratio;
    }`

[2020-10-05 20:01] SimplyCorey commented on #142
Thanks @thisisandreww.  I'll use this code to update the file in the next release.

[2020-10-06 12:42] benjamindoe commented on #182
Beat me to it!

[2020-10-06 21:45] #182 closed

[2020-10-06 22:49] SimplyCorey commented on #142
Fixed in 4.1.0

[2020-10-06 22:49] #142 closed

[2020-10-06 23:01] SimplyCorey commented on #193
Thanks for reporting.  It appears to be an image transparency bug with the PNG resampling.  The method calls will need to be adjusted to fix this correctly.  I'll resolve it when I have time, or if someone want to jump in you can find the code here: https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/src/ImageMerge.php#L110

[2020-10-06 23:06] SimplyCorey commented on #171
Interesting.  I don't think there is much I can do if PHP is running out of memory as we are using the PHP image multiplication libraries.   Thanks for reporting though.  If you have any ideas of how to solve this I am open to reopening this though.

[2020-10-06 23:06] #171 closed

[2020-10-06 23:11] SimplyCorey commented on #192
@bilogic Thanks for the details.  I see how you want to approach this and that makes sense as a simple border laid over top will cause the same issue.  I'll have to think about this some as this will likely require dropping down into bacon to clear the matrix.

[2020-10-06 23:44] SimplyCorey commented on #193
I was able to throw together a quick proof of concept.

![image](https://user-images.githubusercontent.com/624784/95271575-3793e080-080c-11eb-8f77-48f61510a8ab.png)

I don't have any more time today to work on it but I think this will be pretty easy to get done.

I'm able to get the module size from the Renderer which is used to delete the erase the matrix in the areas I need to.

[2020-10-06 23:45] SimplyCorey commented on #192
I was able to throw together a quick proof of concept.

![image](https://user-images.githubusercontent.com/624784/95271575-3793e080-080c-11eb-8f77-48f61510a8ab.png)

I don't have any more time today to work on it but I think this will be pretty easy to get done.

I'm able to get the module size from the Renderer which is used to delete the erase the matrix in the areas I need to.

[2020-10-06 23:45] SimplyCorey commented on #193
This will likely be fixed with https://github.com/SimpleSoftwareIO/simple-qrcode/issues/192

[2020-10-07 01:33] bilogic commented on #192
@SimplyCorey ok just want to share this was how I calculated inside endroid

[code]

[2020-10-07 01:42] bilogic commented on #192
@SimplyCorey one other thing, I found this rendering quirk in endroid where the corners overlap.

Not sure if it exists in your renderer as I did not track down its source, but my point here is, it makes it much harder to do a clean erase in renderer.

![image](https://user-images.githubusercontent.com/946010/95277808-47014100-0881-11eb-8f24-65f93aff7ddc.png)

[2020-10-07 01:44] bilogic commented on #193
@SimplyCorey can I ask why we need `ext-magick`? For the gradient rendering?

[2020-10-07 02:34] muarachmann commented on #193
@SimplyCorey , @bilogic I achieved this a couple of days back. The idea is to create a transparent background with the image. If @bilogic is on this fine, I can pass else I could send a PR. Here is what I got. I could blend any image at any point. NB I made it transparent cause I needed to achieve the twitter QR code effect. Check https://twitter.com/muarachmann/status/1312453668520693762?s=20

![

[2020-10-07 02:38] muarachmann commented on #193
This extension in general is needed to manipulate images in php. just like you will need `mysqli` to connect to any mysql db instance. This doesn't come by default with php i think so you need to install it. You can as well go with `gd` I think

[2020-10-07 02:40] bilogic commented on #193
@muarachmann I asked because endroid did not need `ext-magick`, and I never had to use it too even though I generate PNGs for other purposes.

[2020-10-07 02:43] muarachmann commented on #193
Yes @bilogic they use `GD` see  https://github.com/endroid/qr-code/issues/233 like I said you can have one or use the other. Either way, you must have one of these image Library. I think here imagick was the preferred one

[2020-10-07 02:55] muarachmann commented on #116
@SimplyCorey can I work on this?

[2020-10-07 11:08] SimplyCorey commented on #193
I'm kind of surprised endroid doesn't require `ext-magick` as they use the same underlying qrcode library. They must have created their own writer to get around that.

@muarachmann I would be interested in seeing a PR and how you went about this.  It might solve #192 as well although that might take a different approach to make the overlays look cleaner.

[2020-10-07 18:11] bilogic commented on #193
@SimplyCorey

1. Does https://github.com/Bacon/BaconQrCode render PNGs? (My understanding is they don't)
2. Anyway, if gradient was not the reason for `ext-magick`, perhaps you want to consider moving to `gd`?

I know I'm digressing, let me know if I should open another issue. Thanks.

[2020-10-09 11:54] insology commented on #198
There in issue on the docs, the method is not "eyeStyle" but just "eye".

[2020-10-12 22:23] croxarens opened #203 "Error Message "Unable to set image format" when is format('png')"
Hi!

I'd like to serve a QR code as a file, so I guess the best optionis PNG.

When I run the following code
[code]
I get an "Unable to set image format" message coming from
[code]

The library is working fine with

`QrCode::size(200)->generate('here a message')`

It's returning a SVG code in the page.

Any help, suggestion?

[2020-10-13 00:47] SimplyCorey commented on #203
What version are you using?

[2020-10-13 08:48] croxarens commented on #203
Yes, you were right. I just discover the php module php7-pecl-imagick is not forcing the system in installing the imagemagick software. After manually installing it, I now have a section in phpinfo with all supported format.

Thanks so much @SimplyCorey

[2020-10-13 08:48] #203 closed

[2020-10-13 19:39] GenedyMohamed opened #204 "Eye Mix on Dots Style"
blob:https://web.whatsapp.com/ed8af08d-244c-4089-be7d-d5be55d6da46

Qrcode is messed like shown in the link only when using dots style

[2020-10-13 22:30] SimplyCorey commented on #204
You need to use the dots eye with the dots style.  It's a known issue.

[2020-10-15 17:11] DarrenChowles opened #205 "Breaking change in 4.1 - returns instance of Illuminate\Support\HtmlString"
I noticed after updating from 4.0 to 4.1, the Generator now returns an instance of `Illuminate\Support\HtmlString` rather than a string.

https://github.com/SimpleSoftwareIO/simple-qrcode/commit/3b721089cc541f6c37f0a41b90377529af977948#diff-4ee5eaad222ef0782fccd29473a5f1860988b7cf91cdcd0a12628b2377972b36L165

Luckily the "fix" is simply casting this to a string:

[code]

Hopefully this helps anybo

[2020-10-15 21:23] SimplyCorey commented on #205
My apologies, this one slipped by me.  I think it's too late to reverse the change but I'll get something added to the docs.

[2020-10-18 03:45] thicolares commented on #153
I can help with Portuguese (BR) translation

[2020-10-21 13:48] icdsoftware opened #206 "Cannot merge truecolor logos/images - PNG (ImageMagik backend)"
When you merge a truecolor logo or an image - it is not working properly as the QRCode image produced by BaconQrCode is not a truecolor itself, so the merge results in a PNG file with less colors that are required to display properly the logo.

To resolve the issue I had to slightly modify the Image class constuctor (SimpleSoftwareIO\QrCode\Image)

[code]

You might be able to find a better place

[2020-10-24 01:49] trinhcanhphuc commented on #176
Thanks, let me check

[2020-10-24 03:05] trinhcanhphuc commented on #206
Thank you so much, you help me <3

[2020-10-29 18:34] ap-coder opened #207 "Is it possible to generate current time utc"
Just wondering if it has this capability?
Maybe something like:
[code]
And date
[code]
Also can we put a custom array of data into it and if so what would that formatting look like?
[code]

thnx

[2020-10-30 03:30] isasenoaji commented on #171
i suggest to make your qr lower errorCorrection. I ve a same problem with you that im using errorCorrection('Q') or ('H') and working properly with ('M'). coz i think if you set more higher errorCorrection, it will makes your qr become more complex and more computation and its mean you need more memory in your php.

if you dont want to make it lower, you can set your php memory limit in php.ini to

[2020-11-01 16:37] SimplyCorey commented on #207
What is the use case here?  Wouldn't `QrCode::generate(now());` cover your use case?

[2020-11-02 05:00] hemantachhami19 commented on #37
@SimplyCorey  how can i send through the api endpoint . since this package uses xml instead?

[2020-11-03 01:44] bird-c opened #208 "Error Message "Unable to set image format" when is format('png')"
Hi, Good day!

im getting this error, Error Message "Unable to set image format" when is format('png')
my php version
![image](https://user-images.githubusercontent.com/69282512/97937183-e2ba9a00-1db8-11eb-871c-1c11a63b301a.png)

with imagick installed
![image](https://user-images.githubusercontent.com/69282512/97937161-d33b5100-1db8-11eb-9b88-aeac74cda6e8.png)

is it because of the versions?

Tha

[2020-11-04 19:18] #207 closed

[2020-11-10 15:00] giorgiopagnoni opened #209 "Changing PNG image quality / DPI"
I need to generare smallish PNG qrcodes, but the quality I get is fairly low. Can we somehow change the pixel density used by ImageMagick, the quality, or something like that?

[2020-11-10 17:13] sluxzer commented on #153
I can help you with Indonesian (ID) translation :)

[2020-11-12 14:22] SimplyCorey commented on #153
Thanks @sluxzer

[2020-11-18 12:58] pekineseZ opened #210 "merge() completely transparent logo covers the QR code"
I'm unsure if there's an existing issue for this, when using a logo like:

        $imageString = QrCode::size(200)->format('png')
        ->merge(storage_path('logoQR.png'), .5, true)

Logo used:
![logoQR](https://user-images.githubusercontent.com/23654590/99533385-19da9f00-29a6-11eb-9aea-74f44f4dc32a.png)

The resulting QR code will not respect the transparent logo:
![qrCode](https://user-images

[2020-11-18 23:09] muarachmann commented on #210
@pekineseZ #201 should fix this. If you are in a hurry, you can apply that patch on your branch.

[2020-11-19 09:18] prom00 commented on #210
I've changed the 2 files locally, I can confirm this works like a charm!
Thank you for the fix.

[2020-11-19 13:31] SimplyCorey commented on #210
Thanks guys, Ill work on getting this merged and versioned up this weekend.

[2020-11-19 16:36] JexPY commented on #210
Got same problem only after updating to version 4.1.0, waiting for update ✌️🤞

[2020-12-20 06:28] acecx commented on #208
how to fixed?

[2020-12-20 06:44] bird-c commented on #208
i just used jpg format instead of png format

[2020-12-21 10:33] SimplyCorey commented on #208
Can you provide a code example of what you ran?

[2020-12-24 02:26] restyler opened #211 "Gradient + Margin issue"
When I attach gradient to the qrcode, the margin trims eyes incorrectly. Images with issue and the code is attached.
v.4.1.0

With svg, everything works properly.

[code]

![image](https://user-images.githubusercontent.com/775507/103051688-d2e95600-45b0-11eb-957d-008fc61b06ae.png)

[2020-12-30 15:03] umerdev228 opened #212 "Imagick error on local server laragon"
You need to install the imagick extension to use this back end

[2021-01-11 12:25] SimplyCorey commented on #212
What's the issue here?

[2021-01-11 12:25] #212 closed

[2021-01-11 12:26] SimplyCorey commented on #209
I'll be open to a PR here.

[2021-01-16 19:10] ahmedbondok2006 commented on #77
ErrorException
imagecreatefromstring(): Data is not in a recognized format
  i have this error when making this code

public function imageQrCode()
    {
        $image = QrCode::format('png')
            ->merge(public_path('website/images/barcode.png'), 0.5, true)
            ->size(500)
            ->generate('A simple example of QR code!');
        return response($image)->header('Content-type

[2021-01-16 19:16] ahmedbondok2006 commented on #77
i need to send qr code within email

[2021-01-16 19:18] ahmedbondok2006 opened #213 "error when generate image"
ErrorException
imagecreatefromstring(): Data is not in a recognized format
i have this error when making this code

    public function imageQrCode()
    {
          $image = QrCode::format('png')
          ->merge(public_path('website/images/barcode.png'), 0.5, true)
          ->size(500)
          ->generate('A simple example of QR code!');
          return response($image)->header('Content-type

[2021-01-21 09:13] Hujairi opened #214 "PHP 8 Support"
Has anyone verified support for PHP 8 already?

[2021-01-25 22:47] SimplyCorey commented on #214
I have not had the time to verify PHP8 works with this package.  Feel free to test this for us and open a PR adding PHP8 test suite to github actions.

[2021-02-02 06:21] subhamghimire opened #216 "How to add border radius to merge png?"
I am trying to add a png logo in the middle of the qr which works fine, but how do i add border radius and make the square a little circular?

[2021-02-08 18:33] #214 closed

[2021-02-08 20:21] #193 closed

[2021-02-08 20:22] #206 closed

[2021-02-08 20:22] SimplyCorey commented on #206
Resolved with #201

[2021-02-08 20:23] #208 closed

[2021-02-08 20:27] SimplyCorey commented on #216
You would need to use PHP's GD tools or something similar and pass the image in with a border already applied to it.  I would be open to a PR to add this as an option.

[2021-02-08 20:27] #216 closed

[2021-02-08 20:28] SimplyCorey commented on #213
Not sure what is going on here.  Are you using a correctly formatted png file?  Does this work with `mergeString` in binary format?

[2021-02-08 20:28] #213 closed

[2021-02-08 20:29] SimplyCorey commented on #210
Should be fixed in the new version about to go out.

[2021-02-08 20:29] #210 closed

[2021-02-08 20:33] SimplyCorey commented on #198
Addressed in docs.

[2021-02-08 20:33] #198 closed

[2021-02-08 20:42] SimplyCorey commented on #205
Added a note into the docs.

[2021-02-08 20:42] #205 closed

[2021-02-10 06:32] vonericf commented on #208
Hi this is what im trying to do, i want to add logo on the QR Code, heres the code

data:image/png;base64, {!! base64_encode(QrCode::format('png')->size(200)->merge( '/public/admin-assets/img/logo.png' )->color(0,0,0)->backgroundColor(255,255,255)->generate(''.(isset($user->qrcode->qrcode) ? $user->qrcode->qrcode : 'QR Unavailable).'')) !!}

[2021-03-01 07:27] ghost opened #220 "Can't generate qr code for custom uri schema?"
Tried generating a qr code for the following uri:
[code]

But when reading the qr code only the `myapp` part is being read.
Please let me know if there are any settings is missing or what I'm trying to do is wrong somehow?

[2021-03-01 12:07] SimplyCorey commented on #220
This would depend on the QR code reader that you are using.  I would try any other reader.

[2021-03-07 23:55] ghost commented on #220
I tried multiple readers but still the same result of only the `myapp` part being read.
In the end we "solved" it by url encode the whole uri.. would be curious if anyone else could confirm this?

[2021-03-09 18:46] SimplyCorey commented on #220
@chwiz143 Interesting.  Can you provide a code example and I can look at it more.

[2021-03-16 11:03] mzee19 opened #221 "Add more style of QR Code"
![image](https://user-images.githubusercontent.com/72722281/111298792-fd5b2480-8670-11eb-8d6a-926d287c3be8.png)

![image](https://user-images.githubusercontent.com/72722281/111423065-87f36080-8711-11eb-95da-e56d7eae36c1.png)

Here is only three style available and only two eyes available but I want more than these.

[2021-03-20 12:57] SimplyCorey commented on #221
Free free to make a PR.

[2021-03-20 12:57] #221 closed, assigned to nobody

[2021-03-26 12:54] mzeeshan455 opened #222 "SMS QR code is not work"
QR code is not scannable when second parameter (message) is pass in SMS Helper.

[2021-03-28 11:01] crassclown commented on #21
I get an empty `<img>` tag as well

[code]

[2021-03-29 10:15] mzeeshan455 opened #224 "VCard not work properly"
After scanning , data not send. return empty data
Or send me the right way for QR Code
I am trying this
    {!! QrCode::encoding('UTF-8')->eye('square')->style('square')->size(300)->generate('BEGIN:VCARD VERSION:4.0 N:Gump;Forrest;;Mr.; FN:Forrest Gump ORG:Bubba Gump Shrimp Co. TITLE:Shrimp Man PHOTO;MEDIATYPE=image/gif:http://www.example.com/dir_photos/my_photo.gif TEL;TYPE=work,voice;VALUE=uri:t

[2021-03-29 12:21] #224 closed, assigned to nobody

[2021-03-29 15:19] SimplyCorey commented on #222
What did you use to make the QrCode?  Which scanner?

[2021-03-30 05:35] mzeeshan455 commented on #222
use Samsung (Mobile`s camera) for the scanning purpose, no use any other apps

[2021-03-31 13:08] nouman1105 opened #225 "Black and white problem merging logos"
Hi there !
The problem is that if I merge a colored logo in qrcode its color background effects the logo's origional color...
Please guide me if there is any solution for this...
the merged logo type in png....

![qr-code (16)](https://user-images.githubusercontent.com/69612778/113149430-32649b00-925d-11eb-8945-52e9215782dc.png)
![qr-code (13)](https://user-images.githubusercontent.com/69612778/11

[2021-04-04 04:45] inglesuniversal opened #227 "General Question: basic usage for non LARAVEL php developers"
Hi, I have no experience about LARAVEL whatsoever...

Is there a way to use this awesome library for php 7.4 using requiere or include php syntax?

I got as far as installing it with composer (which I am quite familiar with).

Thanks

[2021-04-04 06:28] muarachmann commented on #227
Hello @inglesuniversal you can just pull up this package using composer which can be at the root of your project and then include the auto load script to load all your classes. Usually a

[code]

Once that is done you can then be able to use the Generator class as in the docs :

[code]

[2021-04-04 07:21] inglesuniversal commented on #227
THANKS

Tried it and got this...

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - phpunit/phpunit[9.0.0, ..., 9.2.6] require php ^7.3 -> your php version (7.2.34) does not satisfy that requirement.
    - phpunit/phpunit[9.3.0, ..., 9.3.8] require php ^7.3 || ^8.0 -> your php version (7.2.34) does not satisfy that requirement.
    - phpunit/phpunit[9.3.

[2021-04-04 07:47] muarachmann commented on #227
What’s ur php version you will need to upgrade as per the error

On Sun, 4 Apr 2021 at 08:21 Hugo Barbosa ***@***.***> wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
***@***.***
Makepe Rhone Poulenc, Douala

[2021-04-04 09:36] inglesuniversal commented on #227
here ...

$ php -v
PHP 7.2.34 (cli) (built: Oct 21 2020 18:03:24) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies

[2021-04-04 09:49] muarachmann commented on #227
From the requirements you should have “^7.3 || 8”

On Sun, 4 Apr 2021 at 10:36 Hugo Barbosa ***@***.***> wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
***@***.***
Makepe Rhone Poulenc, Douala

[2021-04-04 13:12] SimplyCorey commented on #227
You can use an older version if you want to run on 7.2.  phpunit requires 7.3 or higher.

Try using v2 qrcode if you are on 7.2 or upgrade your local env to 7.4.

[2021-04-04 13:13] SimplyCorey commented on #225
Please provide the full code sample and images you used

[2021-04-05 04:31] inglesuniversal commented on #227
Thank you guys for your AMAZING help... NEVER in my life was this dead simple solution to create qrcodes and dump the resulting svg into a folder... WOW...

Here is the code that I am using...

`<?php
// SIMPLE QRCODE
require __DIR__ . '/vendor/autoload.php';

use SimpleSoftwareIO\QrCode\Generator;

$qrcode = new Generator;
$qrcode->size(500)->generate('Make a qrcode without Laravel!', './qrcodes/

[2021-04-08 20:27] SimplyCorey commented on #227
Enjoy.    Glad it working well for you.

[2021-04-08 20:27] #227 closed, assigned to nobody

[2021-04-10 15:18] xman40100 opened #228 "QR codes for URLs longer than 79 characters become bar codes"
At my work environment, we are using the latest version of Simple QRCode (4.2) with Laravel 7 and PHP 7.3. We are generating URLs that are longer than 79 characters, and at that point, the QR code malforms and kinda becomes a bar code (unless it's an intended feature, sorry lol, is there a toggle?).

Reproduction steps:
1. Generate a URL that is longer than 79 characters, for example, a normal Goo

[2021-04-12 13:47] zeroone2005 opened #229 "其他框架调用"
Class 'SimpleSoftwareIO\QrCode\BaconQrCodeGenerator' not foun

[2021-04-12 15:55] #229 closed, assigned to nobody

[2021-04-12 15:55] SimplyCorey commented on #229
Please explain your issue in detail in english.

[2021-04-16 16:15] zebamba opened #230 "responsive size"
The size generates HTML width and height, the problem is image is not responsive.

Would be possible to set size in a way to be responsive?

[2021-04-26 11:31] Ammar09 opened #231 "<?"0.1="version xml 8-UTF="encoding?" >"
![Capture](https://user-images.githubusercontent.com/14530968/116075501-b3b41f80-a69b-11eb-9cb3-a4f1b599c260.PNG)

Hello everyone,

I am trying to generate QRcdoe on PDF file but it shows
 (<?"0.1="version XML 8-UTF="encoding?">) above the QRcode
as it is shown in the attachment

[2021-04-27 09:34] kabowo commented on #231
Same here

[2021-04-27 17:51] nouman1105 commented on #225
[qr-code_app(SimpleSoftware.io).zip](https://github.com/SimpleSoftwareIO/simple-qrcode/files/6386549/qr-code_app.SimpleSoftware.io.zip)

Sorry for getting late, because i was busy doing some work and this app is nested with too many thing, so the best way was to make a mini project to demonstrate the application, I just got time and made a mini app for you....

because i work on windows and xampp

[2021-04-27 17:57] nouman1105 commented on #225
[Project deleted]
Sorry for getting late, because i was busy doing some work and this app is nested with too many things, so the best way was to make a mini project to demonstrate the application, I just got time and made a mini app for you....

because i work on windows and xampp the steps are following:

1. unzip file to htdocs.
2. create a new database in phpmyadmin with name "qrcode_app".
3. r

[2021-04-27 17:58] nouman1105 commented on #225
here are the pictures i used for the logo
![alfa_romeo](https://user-images.githubusercontent.com/69612778/116289558-ca9e6300-a7bc-11eb-81d2-deca7f7b7802.png)
![Chevrolet](https://user-images.githubusercontent.com/69612778/116289570-cd00bd00-a7bc-11eb-918e-59162bd15740.png)
![Ferrari](https://user-images.githubusercontent.com/69612778/116289576-cd995380-a7bc-11eb-9f85-0c23be71974d.png)
![Fiat](htt

[2021-04-27 18:01] nouman1105 commented on #225
[3. Make brand logos.zip](https://github.com/SimpleSoftwareIO/simple-qrcode/files/6386615/3.Make.brand.logos.zip)

Here are pictures i am using as logos...
kindly guide me , so i can solve this issue. Thanks

[2021-04-27 18:03] nouman1105 commented on #225
if you face any issues regarding the code please leave a message, and also if you want me to make a manual to use the app kindly leave a message Thanks

[2021-04-27 22:25] kabowo commented on #231
Try to generate with format png

[2021-04-28 07:13] petrosit commented on #228
Hi,
Any news on this one? Since yesterday I have the same issue. It's really strange because it was working fine before, and I did not change anything on the server.

[2021-04-29 11:55] SimplyCorey commented on #230
The SVG should be responsive.  How are you making the qrcodes?

[2021-04-29 11:57] SimplyCorey commented on #228
There is no news, but I'll gladly accept a PR that resolves this.

[2021-04-29 13:23] petrosit commented on #228
Any clue where I could search for the issue / fix? What I don't understand why it stopped working on a system overnight.

[2021-04-29 18:03] youmustwearface commented on #230
Issue is a hardcoded width="100" and height="100" in the svg element.

[2021-04-30 01:43] zebamba commented on #230
I am generating the QR code following the docs instructions.

[code]

@youmustwearface stated the issue is the hardcoded HTML attribute.

[2021-04-30 11:45] SimplyCorey commented on #228
Not really.  I'm confused on why it would start failing all of a sudden as no release has been created in this package or any dependencies when I took a look.  When I find some time, I can look at this a little more.

[2021-04-30 11:47] petrosit commented on #228
Alright, thanks. In the meantime use the following workaround:
I'm using tinyurl service to shorten the URLs:
function tinyurl($url) {
    return file_get_contents('http://tinyurl.com/api-create.php?url='.urlencode($url));
}

[2021-05-08 20:08] nouman1105 commented on #225
Hi there!
Hope that you are fine.
Could you manage some time to have a look on my issue ?

[2021-05-12 11:09] mzeeshan455 commented on #116
Year is not pick correctly i.e select 1993 , 2021 #Calendar QR Code change to last two digit like 9393, 2121 ...

[2021-05-12 11:15] muarachmann commented on #116
@mzeeshan455 strange cause I didn't have those in tests, can you please show how you are generating the QR code, also make sure it is of type `Y-m-d H:i` or you can specify your format

[2021-05-18 06:38] mzeeshan455 commented on #116
QrCode::style('round')->size(300)->Calendar([
    'summary' => 'Summary of the Event', // Mandatory
    'location' => 'https://github.com/SimpleSoftwareIO/simple-qrcode/pull/202',
    'url' => 'https://github.com/SimpleSoftwareIO/simple-qrcode/pull/202',
    'startDateTime' => '2021-02-03 12:12', // DateTime format "Y-m-d H:i"  Mandatory
    'endDateTime' => '2021-02-03 12:12' // DateTime format "

[2021-05-18 06:53] mzeeshan455 opened #232 "Transparent Logo with QR Code"
Transparent logo is working on Qr code ? If yes than guide me about this...
Thanks

[2021-05-18 09:10] kopgzdevth commented on #11
can you replace it and this code work!!
    $qrcode=QrCode::encoding('UTF-8')->size(50)->generate('A basic example of QR code!');
    $qrcode=str_replace('<?xml version="1.0" encoding="UTF-8"?>',"",$qrcode); //replace to empty

[2021-05-19 02:41] ben007zxbaj opened #233 "Self Signed CERT error"
can we have additional Options for the file_get_contents

class Generator
{

    public function merge(string $filepath, float $percentage = .2, bool $absolute = false): self
    {
        if (function_exists('base_path') && ! $absolute) {
            $filepath = base_path().$filepath;
        }

		$arrContextOptions=array(
			"ssl"=>array(
				"verify_peer"=>false,
				"verify_peer_name"=>false,

[2021-05-20 18:52] SimplyCorey commented on #233
I think you could load the image how ever you wanted and then use `mergeString` using the binary string.  Would this work?

[2021-05-21 14:34] #233 closed, assigned to nobody

[2021-06-02 03:36] songlen commented on #208
similar problem !
php7.2

[2021-07-21 18:19] Cristiano1103 opened #235 "PNG base64_encode return empty image"
Hello!

i use this to generate:
`<img src="data:image/png;base64, {{ base64_encode(QrCode::encoding('UTF-8')->format('png')->margin(1)->size(220)->generate('Test')) }}">
`

but returns a transparent image.

i using laravel 8 and php 7.4

[2021-08-12 16:50] QXT2013 commented on #228
Hi there
there is any news about this issue?
you code is perfect and very easy to use, but i'm facing the same error encoding large strings
I think it is related also with the size and the correction error in some combination of these elements i got a image like barcode.
Please any suggestion or workaround ( i cant use tiniurl) ?
Thanks in advance
Stefano

[2021-08-22 12:23] SimplyCorey commented on #228
Is this the svg or png formatter?

[2021-08-24 09:32] petrosit commented on #228
It happens with both afaik

[2021-08-24 13:18] QXT2013 commented on #228
I'm using it into a View
 <div> {!! QrCode::errorCorrection('L')->size(100)->generate("https://www.xxxx.yyy/qr/" .$user->serial_id); !!}</div>

I have to use errorCorrection to L to avoid bars.
It seems it's a stange combination between size  strint lenght and errorCorrection

[2021-08-25 03:45] xman40100 commented on #228
I recall it being both, since trying to do it with any formatter didn't give me the desired result.

[2021-09-16 08:58] abdulbasit-dev opened #236 "merging image with svg qrcode not working"
while generating svg type qrcode, and i went merge image with it, it not worked,
the qrcode will generate, but it has not merged image with it

[2021-09-19 23:24] SimplyCorey commented on #236
Merge is not supported with SVG.  I will accept a PR if you wish to add this feature.

[2021-09-19 23:25] SimplyCorey commented on #235
This code works for me.  You will need to provide more information if this is still an issue.

[2021-09-19 23:25] #235 closed, assigned to nobody

[2021-09-19 23:25] #232 closed, assigned to nobody

[2021-09-19 23:25] SimplyCorey commented on #232
Please provide a full code example and items you have tried.

[2021-09-23 03:44] alexv96 opened #237 "Any examples with VCARD?"
I was looking at the documentation but when using VCARD it's not clear to me how to use it and the example is a page that takes me to wikipedia.

Would it be something like this?
[code]

[2021-09-23 23:44] alexv96 commented on #224
Were you able to make it work?

[2021-09-26 16:03] NaungYeHtet opened #238 "PHP 8?"

[2021-09-26 16:08] #238 closed, assigned to nobody

[2021-09-30 14:33] Cristiano1103 commented on #235
I fixed by updating  imagick extension :)

[2021-10-08 22:26] #222 closed, assigned to nobody

[2021-10-08 22:26] SimplyCorey commented on #222
This works on iOS.  Feel free to make a PR.

[2021-10-08 22:27] #236 closed, assigned to nobody

[2021-10-08 22:27] SimplyCorey commented on #231
I can't reproduce this.  Please provide a full code example and the output of the svg.

[2021-10-08 22:27] #231 closed, assigned to nobody

[2021-10-29 07:44] frizikk commented on #228
I set errorCorrection to L
size 200x200 and 400x400 and it is broken

[2021-11-03 16:41] MattiaMarchiorato commented on #171
Hello,

i have the same issue only on production server (with php memory_limit se to 2048), in staging or develop all works fine!

Anyone resolved this problem?
@ZBrettonYe any news?

Best

MM

[2021-11-03 16:57] MattiaMarchiorato commented on #237
Hello @alexv96
'BEGIN:VCARD:name' is not a valid format like:

BEGIN:VCARD
VERSION:2.1
N:Mao Zett
EMAIL:mao@zett.it
ORG:Acme S.r.l.
TITLE:Sales trader
ADR:Via Inglesina, Milano
URL:http://www.deji.eu
TEL;HOME;VOICE:+39 (389) 2323232 2323
TEL;WORK;VOICE:+39 (389) 2323232 2323
END:VCARD

[2021-11-04 09:50] MattiaMarchiorato commented on #166
Up!

[2021-11-04 11:56] SimplyCorey commented on #166
@Mattia-Marchiorato What does `up` mean?

[2021-11-04 14:22] MattiaMarchiorato commented on #166
@SimplyCorey we are following the thread, maybe we can check the code and add the feature.

[2021-11-11 06:36] felixkaleke commented on #205
$qr=(string)QrCode::size(500)
            ->email('admin@example.com', 'Welcome to Coding driver!.', 'ggfrgrfgrfgrfgrfgrfgrfgrfg')
            ->generate('codingdriver.com', public_path("images/staffidqrcode/qrcode.png"));

I tried the above code but not working , the objective of the qr code was to read email and phonenumber and sms all together , please share your results for the answers to the

[2021-11-17 08:22] deven-lopen commented on #225
Remove this function **backgroundColor** when generating code. I can't give you more details about that function but it works on my end when I removed it.

Let me know if this works in your end.

[2021-11-23 11:00] samuel-lujan opened #239 "QUESTION: Show QRcode created at Controller"
- How can I show some QRCode created at backend, at blade... This QRcode are created after some ajax post to my backend, and then I want to show it at the screen

[2021-11-23 13:05] SimplyCorey commented on #239
This isn't a help forum.  Please keep the issues tab for reporting problems with the codebase.  I'd recommend stack overflow.

[2021-11-23 13:05] #239 closed, assigned to nobody

[2021-11-23 19:48] support-softya opened #240 "how to insert new line"
hi im using this with laravel 8
and im wondering how to insert new line like this ..
` {{ QrCode::size(200)->encoding('UTF-8')->generate(
                                                        'رقم الفاتورة' . $journal_entry['number'] . 'Invoice number'.
                                                        '<br />'.
                                                        'تاريخ الاصدار' . $jou

[2021-11-24 19:44] SimplyCorey commented on #240
I believe this is going to depend on the device reading the qrcode.  You might be able to try `\n` or `\r\n` but I'm unsure if this will work.

[2021-11-24 19:44] #240 closed, assigned to nobody

[2021-12-03 10:11] kallyas opened #241 "failed to open stream: No such file or directory"
On starting my application with `php artisan serve`
I get this error

[code]

Could I be using this package wrongly or I am missing something
Thanks

[2021-12-07 13:37] SimplyCorey commented on #241
How did you install the package?  What laravel version?

[2021-12-07 18:48] gitleif opened #242 "Possible to remove half dots"
Behind the merged center image there should be possible to completly remove the dots that are not completely visible. See attached image.
![suggestion](https://user-images.githubusercontent.com/26165143/145088293-82e22b90-0c30-446f-9ef8-00f641b4b503.png)

[2021-12-09 10:09] #241 closed, assigned to nobody

[2021-12-09 18:27] SimplyCorey commented on #242
Not currently, but I'd accept a PR that could better center the image.

[2021-12-14 07:32] iamkumarishwetha opened #244 "How to generate qrocde for dynamic generating image and url?"
<img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->merge({{ url('/') }}/{{ $card_details->profile}}, .2, true)->size(200)->generate({{ url('/') }}/{{ $card_details->card_url }})) !!} ">

<img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->merge({{ url('/') }}/{{ $card_details->profile}}', .2, true)->size(200)->generate({{ url('/') }}/{{ $card_details->c

[2021-12-14 07:55] muarachmann commented on #244
This is more of your codebase, please show us the line of code or what you are doing

[2021-12-14 08:32] iamkumarishwetha commented on #244
<img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->merge({{ url('/') }}/{{ $card_details->profile}}', .2, true)->size(200)->generate({{ url('/') }}/{{ $card_details->card_url }})) !!} ">

[2021-12-14 08:32] iamkumarishwetha commented on #244
<img src="data:image/png;base64, {!!
base64_encode(QrCode::format('png')->merge({{ url('/') }}/{{
$card_details->profile}}', .2, true)->size(200)->generate({{ url('/') }}/{{
$card_details->card_url }})) !!} ">

On Tue, Dec 14, 2021 at 1:25 PM Mua Rachmann ***@***.***>
wrote:

[2021-12-14 08:42] muarachmann commented on #244
You can use the ``` to format your code on github. Also check the `'` at the end of the **$card_details->profile}}**.

[2021-12-14 08:44] iamkumarishwetha commented on #244
[code]

this code doesn't work

[2021-12-14 09:30] muarachmann commented on #244
Did you see my comments above? You have a trailing `'`  after **$card_details->profile}}**

[code]
Try this

[2021-12-14 09:47] iamkumarishwetha commented on #244
that is typing mistake

<img src="data:image/png;base64, {!!
base64_encode(QrCode::format('png')->merge('{{ url('/') }}/{{
$card_details->profile}}', .2, true)->size(200)->generate('{{ url('/') }}/{{
$card_details->card_url }}')) !!} ">

this code doesn't work

On Tue, Dec 14, 2021 at 3:00 PM Mua Rachmann ***@***.***>
wrote:

[2021-12-14 10:00] iamkumarishwetha commented on #244
Please help me to solve this issue.

On Tue, Dec 14, 2021 at 3:17 PM kumari shwetha ***@***.***>
wrote:

[2021-12-14 18:52] SimplyCorey commented on #244
Seems like you have a syntax error in your code somewhere.  I'll recommend stack overflow for better help as this channel is used for reporting bugs with the code base.

Best of luck.

[2021-12-14 18:52] #244 closed, assigned to nobody

[2021-12-14 18:53] SimplyCorey commented on #237
@Mattia-Marchiorato Is correct here.  You would need to input the entire vcard standard.  You can use something like https://vcardmaker.com/.

If anyone wants to make a helper for this library, I would appreciate and accept the PR.

[2021-12-14 18:53] #237 closed, assigned to nobody

[2021-12-14 18:59] SimplyCorey commented on #242
Closing as a duplicate of https://github.com/SimpleSoftwareIO/simple-qrcode/issues/192

[2021-12-14 18:59] #242 closed, assigned to nobody

[2021-12-14 22:23] MattiaMarchiorato commented on #237
@SimplyCorey we are using an helper in our project, maybe we can create a PR adding the helper.

[2021-12-14 22:30] SimplyCorey commented on #237
@Mattia-Marchiorato thst would be amazing.  Thank you

[2022-01-03 09:32] acydh commented on #205
That's probably because you're exporting a png instead of working with svg

[2022-01-15 10:27] PoojaJadav commented on #21
What is the $message here?

[2022-01-15 11:59] muarachmann commented on #21
If you use laravel https://laravel.com/docs/8.x/mail#inline-attachments

[2022-01-16 01:09] d13moroy opened #245 "Problem with gradient, eyeColor, style"
I have this code, i follow documentation, but always i get error whit eyeColor, gradient and style, when i comment this 3 options Qr generates ok.

  QrCode::format('png')

            ->color($colorRed, $colorGreen, $colorBlue)
            ->backgroundColor($bgColorRed, $bgColorGreen, $bgColorBlue)
            ->eyeColor(1, 0, 204, 153, 0, 153, 119)
            ->gradient(100,100,55,100,100,255,'

[2022-01-16 23:57] CovertError commented on #231
any ideas for ways to get around this issue without using png

[2022-01-16 23:59] CovertError opened #246 "adding an option to remove xml decoration"
there is an issue with the xml decoration showing on pdf generators like mpdf  this ticket shows the issue  #231 it would be great to add a way to remove the XML decoration I tried using str_replace that didn't work if you have any ideas or suggestions let me know

[2022-01-26 04:53] heshanmax commented on #11
I have the same issue i'm using
 "niklasravnsborg/laravel-pdf"

it prints the qrcode but XML tag printed as @BlueManLine.

Any help

[2022-02-16 10:19] rupalgohel commented on #225
I am having the same issue. Can you please post your ans?

[2022-02-16 20:25] SimplyCorey commented on #225
I'll accept a PR for this.

[2022-02-19 15:25] abdulkareem-f commented on #225
I have the same issue, I have used the `merge` function to add the logo in the QR
But I want the QR to be `png` with transparent background

The issue is the logo and QR has been changed color and it didn't work as transparent background
Here is my code:
[code]

And here is the result:
![re_trans (1)](https://user-images.githubusercontent.com/47987261/154807244-2cc61a32-521e-42f8-9e98-3dedf5fe98e7

[2022-03-18 11:28] ali-alharthi commented on #246
You return the QrCode::generate('...') as string as shown [Here](https://github.com/SimpleSoftwareIO/simple-qrcode/issues/205#issue-722516951)

After that just replace `{!! $qr !!}` with the following:
[code]

It should work fine!

[2022-03-22 00:41] kimitaka commented on #153
Are translators still needed?
May I help you with the Japanese translation?

[2022-03-22 12:35] SimplyCorey commented on #153
@kimitaka That would be a great help.  All of the current translations are out of date with the latest versions.  Thank you.

[2022-03-22 12:53] kimitaka commented on #153
Okay, now I start my work.

[2022-03-27 15:52] kimitaka commented on #153
@SimplyCorey I have finished. Could you check my PR? https://github.com/SimpleSoftwareIO/simple-qrcode/pull/247

[2022-04-03 00:48] laduniestu opened #248 "php 8.1.1 ?"
- Root composer.json requires simplesoftwareio/simple-qrcode ^0.0.4@beta -> satisfiable by simplesoftwareio/simple-qrcode[0.0.4-beta].
- simplesoftwareio/simple-qrcode 0.0.4-beta requires bacon/bacon-qr-code 1.0.0 -> found bacon/bacon-qr-code[1.0.0] but the package is fixed to 2.0.6 (lock file version) by a partial update and that version does not match. Make sure you list it as an argument for th

[2022-04-03 00:50] laduniestu commented on #248
- Root composer.json requires simplesoftwareio/simple-qrcode ^0.0.4@beta -> satisfiable by simplesoftwareio/simple-qrcode[0.0.4-beta].
- simplesoftwareio/simple-qrcode 0.0.4-beta requires bacon/bacon-qr-code 1.0.0 -> found bacon/bacon-qr-code[1.0.0] but the package is fixed to 2.0.6 (lock file version) by a partial update and that version does not match. Make sure you list it as an argument for th

[2022-04-05 13:59] SimplyCorey commented on #248
Looks like you are using a very old version.  The latest is 4.2.0 and you are pulling on 0.0.4.

If this is an issue, feel free to open a PR.

[2022-04-05 14:00] #248 closed, assigned to nobody

[2022-04-05 14:02] SimplyCorey commented on #246
Closing.  If there is a bug here please open a PR with a fix.

[2022-04-05 14:02] #246 closed, assigned to nobody

[2022-04-06 06:41] hamzamalik01 opened #249 "version issue"
Package simplesoftwareio/simple-qrcode at version ~4 has requirements incompatible with your PHP version, PHP extensions and Composer version:

[2022-04-06 13:38] SimplyCorey commented on #249
Please take time to make a reasonable attempt when opening issues.

This is nothing but a copy paste from a command line that gives no details or insight of what is going on.  Not only did you waste your time by giving no information for someone to help you, you have wasted my time having to review this issue and others like it from people who put in zero effort on a free, open source project.

Th

[2022-04-06 13:38] #249 closed, assigned to nobody

[2022-04-23 07:18] aditagusta commented on #84
i'm using laravel 5.8 and simple v2.0
on my controller : use SimpleSoftwareIO\QrCode\Facades\QrCode;
but its doesn't work, can you give me solution for this ? thank you

[2022-04-24 15:29] ahmedmaazin commented on #48
Hello it's 2022 😆.

This is probably a compatibility issue. We could do something like, make [$prefix](https://github.com/SimpleSoftwareIO/simple-qrcode/blob/develop/src/DataTypes/SMS.php#L12) dynamic based on the body? meaning if there is a pre-filled message body, then use SMSTO else default to SMS. Do I make sense?

[2022-04-25 12:37] SimplyCorey commented on #48
I'll be open to a pull request for this.  Seems like SMSTO has better support.

[2022-05-05 05:22] rajeevunni commented on #11
I too encountered similar issue while generating pdf with mpdf library. i just checked @[kopgzdevth](https://github.com/kopgzdevth) answer and replaced the entire xml tag from my code.

$qrcode=QrCode::encoding('UTF-8')->size(50)->generate('A basic example of QR code!');
$qrcode=str_replace('<?xml version="1.0" encoding="UTF-8"?>',"",$qrcode);
![image](https://user-images.githubusercontent.com/720

[2022-05-07 15:04] zanethefox opened #250 "Eye corner radius / larger round style?"
Hi there, first I want to say thanks for the great QR code maker. I am working on created a stylised QR code that has very rounded corners to match the style of the page. I am wondering if it's possible to make the eyes even rounder?

Currently I can see the QR code eyes corner radius is the same as the blocks, so I assume the value is connected to both and can not extend further than the small bl

[2022-05-11 11:29] SimplyCorey commented on #250
This is possible, but you would need to create a new eye renderer.  See https://github.com/Bacon/BaconQrCode/blob/master/src/Renderer/Eye/SimpleCircleEye.php

[2022-05-12 09:22] zanethefox commented on #250
Brilliant, thanks a lot!

[2022-05-12 18:37] liliumdev commented on #250
Amazing, thanks!

[2022-05-13 08:44] rpahmadmasri opened #251 "ImagickException on linux environment"
When I try to generate a QR code with errorCorrection (M,Q,H) with the following command
QrCode::format('png')->size(300)->errorCorrection('Q')->eye('circle')->style('round')->merge('/resources/img/logo.png', .35)->generate($url, public_path('img/QR/'. $token.'.png'));

I get the following exception

 ImagickException

  too many bezier coordinates `M8 0.25L8 2.75A0.25 0.25 0 0 0 8.25 3L8.75 3A0.2

[2022-05-26 17:58] omar-tammam commented on #228
I think this issue is no more exists , I tested it & it works fine with me
using laravel 7 , and php 7.3

![tes-QR2](https://user-images.githubusercontent.com/69875109/170547690-08f9ec0d-8bf5-40d2-aa6a-a080ed32f1b8.PNG)

[2022-05-31 09:48] amirkoklan commented on #209
has something happened here in the meantime maybe?

[2022-05-31 17:31] SimplyCorey commented on #209
Still waiting for someone to make a PR.

[2022-06-08 09:54] a6965921 opened #253 "composer2 can't download"
curl error 60 while downloading https://packagist.org/providers/simplesoftwareio/simple-qrcode.json: P
  eer certificate cannot be authenticated with known CA certificates

[2022-06-09 11:20] SimplyCorey commented on #253
Seems like an issue on your side.  I will need more details if this is something on ours.  Thanks

[2022-06-09 11:20] #253 closed, assigned to nobody

[2022-06-21 15:27] SBasher commented on #228
It looks like wrong scale parameters are applied to the first `<g>` tag inside SVG. For me it was transform="scale(2,162)". So scale has two parameters 2(scale-X) and 162(scale-Y) when it should have one parameter scale(2.162). My solution was to replace comma with dot in line 100 of SvgImageBackEnd.php
`sprintf('scale(%s)', str_replace(',','.',round($size, self::PRECISION)))`

[2022-06-27 16:43] vasusharma123 commented on #205
Class "SimpleSoftwareIO\QrCode\QrCodeServiceProvider" not found

[2022-07-17 15:08] limkuncui opened #254 "how can I set multiple header in response for this QRCode"
how can I set multiple header in response for this QRCode
``
$svg_img = QrCode::format('svg')->size(100)->margin(5)->backgroundColor(255,55,0)->generate('Hello World!');
return response($svg_img)->header('Content-type','image/svg');
``
how can I add file name into header?
``
header("Content-Disposition: attachment; filename=QRCode.svg");
``

[2022-07-19 11:47] SimplyCorey commented on #254
This should be what you need.

https://laravel.com/docs/9.x/responses#file-downloads

[2022-07-19 11:47] #254 closed, assigned to nobody

[2022-07-21 14:39] iftekhs opened #255 "Qrcode is not readable when image added to the center."
Hi, I added an image on the center of the QRcode and now it is not scannable. I saw that I need to use something called errorCorrection("H")? I'm not sure what that is so can you help me fix this issue.

[2022-07-22 17:57] #255 closed, assigned to nobody

[2022-08-04 11:29] Nahiyan47 commented on #11
I solved this problem.
Qr code returns an object. At first you have to convert this to string. then slice until that portion where that xml code ends.

           $qrcode=QrCode::size(50)->generate('A basic example of QR code!');
           $code = (string)$qrcode;
           echo substr($code,38);

this perfectly shows my qrcode without xml code

[2022-08-08 07:09] codetestmg commented on #142
@SimplyCorey   is there any example for the above scenario? Any document how to do using code

Thanks

[2022-08-09 10:00] mmasomi73 opened #256 "Convert to PNG Without imagick extension"
Hi,
How it possible to get base64 png image of qr-code without use  imagick extension on server?

thanks

[2022-08-11 14:06] turdakhov commented on #255
Have the same trouble. Why this issue is closed?

[2022-08-30 04:13] AlexWS1048575 opened #257 "Something needs to be solved this error while installing QRCode, especially for Laravel 9 users."
Hello
 After I type `composer require simplesoftwareio/simple-qrcode`, it has no problem, but it shows this error message in the bottom.
[code]

My composer.json currently

[code]

After I saw an error message, I add this to my config/app.php

[code]

[code]

when I want to make a controller, it won't work, it shows

Class "SimpleSoftwareIO\QrCode\QrCodeServiceProvider" not found

Anyone knows how

[2022-08-30 04:47] eina84 commented on #257
I have it working fine in Laravel 9.21.
my providers & aliases are the same as yours in app.php.

I see mention of the class being skipped on installation. Does the class file exist? Mine is here:
D:\xampp8_1_2\htdocs\myApp\vendor\simplesoftwareio\simple-qrcode\src\QrCodeServiceProvider.php

[2022-09-08 14:29] SimplyCorey commented on #257
Don't know what's wrong.  Feel free to open a PR to address this if something is wrong.

[2022-09-08 14:29] #257 closed, assigned to nobody

[2022-09-16 12:23] philharmonie opened #259 "Tests not running"
I am trying to run the tests in my application, but no test runs:
[code]

[2022-09-20 11:09] SimplyCorey commented on #259
The tests run in CI and on my local.  Not sure what is wrong on your machine.

[2022-09-20 11:09] #259 closed, assigned to nobody

[2022-09-20 11:22] philharmonie commented on #259
@SimplyCorey  Which command do you run to perform the tests?

[2022-09-20 11:27] SimplyCorey commented on #259
composer run-script test

[2022-10-02 21:36] Cluster2a opened #260 "problems with umlauts in VCARDS"
Hey, if I am using an umlaut within a vcard and generating the QRcode :

[code]

[code]

The following QRcode is generated:
![image](https://user-images.githubusercontent.com/84905165/193477044-6f611832-4221-4161-8c89-ec4091c6a742.png)

Checking this QRcode with https://zxing.org/w/decode, the QRcode seems to be alright:
![image](https://user-images.githubusercontent.com/84905165/193477202-4923e1f

[2022-10-02 23:11] #260 closed, assigned to nobody

[2022-10-25 13:19] felixgro opened #262 "llerlan qrcode"

[2022-10-25 13:20] #262 closed, assigned to nobody

[2022-11-17 22:34] shoaib039 commented on #250
![image](https://user-images.githubusercontent.com/95604832/202574052-0f18139a-0084-49ff-94cb-a01b0801642f.png)

Please someone help me to make QrCode Eye like this, if anyone got solution please share with me, i waste whole 2 days but unable to make like this, any help from anyone?😔